<div class="row">
  <div class="col-xl-6">
    <div class="mb-3">
      <label class="form-label">Full Name</label>
      <input type="text" class="form-control" placeholder="Enter your full name" name="fullname" required />
    </div>
  </div>
  <div class="col-xl-6">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" placeholder="Enter your email" name="email" required />
    </div>
  </div>
  <div class="col-xl-6">
    <div class="mb-3">
      <label class="form-label">Phone Number</label>
      <input type="tel" class="form-control" name="phone" placeholder="Enter your phone number" required />
    </div>
  </div>
  <div class="col-xl-6">
    <div class="mb-3">
      <label class="form-label">Date of Birth</label>
      <input type="text" mwlFlatpickr [options]="flatPickrOptions" placeholder="Select you DOB" class="form-control" name="dob" required />
    </div>
  </div>
</div>
