<div class="card card-h-100">
  <div class="card-body">
    <div class="d-flex align-items-center mb-4">
      <div class="me-3 position-relative">
        @if(item.image){
        <img [src]="item.image" alt="avatar" class="rounded-circle" width="72" height="72" />
        }@else {
        <div class="avatar rounded-circle flex-shrink-0" style="height: 72px; width: 72px">
          <span class="avatar-title text-bg-primary fw-semibold rounded-circle fs-22"> {{ generateInitials(item.name) }}</span>
        </div>
        }
        <span class="position-absolute bottom-0 end-0 badge bg-{{item.variant}} rounded-circle p-1 shadow-sm" title="Rating 4.8">
          <app-icon icon="star" class="text-white"></app-icon>
        </span>
      </div>
      <div>
        <h5 class="mb-1 d-flex align-items-center">
          <a routerLink="/apps/users/profile" class="link-reset">{{item.name}}</a>
          <img [src]="item.flag" alt="UK" class="ms-2 rounded-circle" height="16" />
        </h5>
        <p class="text-muted mb-1">{{item.position}}</p>
        <span class="badge text-bg-light badge-label">{{item.role}}</span>
      </div>
      <div class="ms-auto">
        <div ngbDropdown placement="bottom-end">
          <a [routerLink]="[]" class="btn btn-icon btn-ghost-light text-muted drop-arrow-none" ngbDropdownToggle>
            <app-icon icon="dots-vertical" class="fs-xl"></app-icon>
          </a>
          <ul class="dropdown-menu-end" ngbDropdownMenu>
            <li>
              <a ngbDropdownItem [routerLink]="[]">
                <app-icon icon="share" class="me-2"></app-icon>
                Share
              </a>
            </li>
            <li>
              <a ngbDropdownItem [routerLink]="[]">
                <app-icon icon="edit" class="me-2"></app-icon>
                Edit
              </a>
            </li>
            <li>
              <a ngbDropdownItem [routerLink]="[]">
                <app-icon icon="ban" class="me-2"></app-icon>
                Block
              </a>
            </li>
            <li>
              <a class="dropdown-item text-danger" [routerLink]="[]">
                <app-icon icon="trash" class="me-2"></app-icon>
                Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="list-unstyled text-muted mb-4">
      <li class="mb-2">
        <div class="d-flex align-items-center gap-2">
          <div class="avatar-xs avatar-img-size fs-24">
            <span class="avatar-title text-bg-light fs-sm rounded-circle">
              <app-icon icon="mail"></app-icon>
            </span>
          </div>
          <h5 class="fs-base mb-0 fw-medium">
            <a [routerLink]="[]" class="link-reset">{{item.email}}</a>
          </h5>
        </div>
      </li>
      <li class="mb-2">
        <div class="d-flex align-items-center gap-2">
          <div class="avatar-xs avatar-img-size fs-24">
            <span class="avatar-title text-bg-light fs-sm rounded-circle">
              <app-icon icon="phone"></app-icon>
            </span>
          </div>
          <h5 class="fs-base mb-0 fw-medium">
            <a [routerLink]="[]" class="link-reset">{{item.contact}}</a>
          </h5>
        </div>
      </li>
      <li class="mb-2">
        <div class="d-flex align-items-center gap-2">
          <div class="avatar-xs avatar-img-size fs-24">
            <span class="avatar-title text-bg-light fs-sm rounded-circle">
              <app-icon icon="map-pin"></app-icon>
            </span>
          </div>
          <h5 class="fs-base mb-0 fw-medium">{{item.location}}</h5>
        </div>
      </li>
      <li>
        <div class="d-flex align-items-center gap-2">
          <div class="avatar-xs avatar-img-size fs-24">
            <span class="avatar-title text-bg-light fs-sm rounded-circle">
              <app-icon icon="link"></app-icon>
            </span>
          </div>
          <h5 class="fs-base mb-0 fw-medium">
            <a [routerLink]="[]">{{item.website}}</a>
          </h5>
        </div>
      </li>
    </ul>

    <div class="d-flex justify-content-between align-items-center">
      <span class="text-muted fs-xs">
        <app-icon icon="refresh" class="me-1"></app-icon>
        {{item.updatedTime}}
      </span>
      <a routerLink="/apps/users/profile" class="btn btn-soft-primary btn-sm rounded-pill">View Profile</a>
    </div>
  </div>
</div>
