<ngx-simplebar class="card h-100 mb-0 rounded-0 border-0">
  <div class="card-body p-0">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" (activeIdChange)="onNavChange($event)" class="nav list-group list-group-flush outlook-list mb-0" role="tablist">
      @for (item of messageData; track $index) {
      <li [ngbNavItem]="item.id" class="list-group-item p-0" role="presentation">
        <a ngbNavLink class="nav-link p-3">
          <span class="d-flex justify-content-between align-items-center mb-1">
            <span class="fw-semibold">{{ item.name }}</span>
            <small class="text-muted">{{ item.date }}</small>
          </span>

          <span class="mb-2 d-block fs-xs text-muted"> {{ item.summary }} </span>

          <span class="d-flex justify-content-between">
            <span>
              <app-icon icon="map-pin"></app-icon>
              {{ item.location }}
            </span>

            @if (item.badge) {
            <span class="badge badge-label {{ item.badge.className }}"> {{ item.badge.label }} </span>
            }
          </span>
        </a>

        <ng-template ngbNavContent>
          <div class="d-flex justify-content-between">
            <div>
              <div class="text-muted mb-2">
                <app-icon icon="clock"></app-icon>
                {{ item.body.timestamp }}
              </div>

              <h2 class="fs-xl mb-3">{{ item.body.title }}</h2>
            </div>
            <div>
              <button class="btn btn-default btn-sm me-1" placement="start" ngbTooltip="Plug this message">
                <app-icon icon="plug" class="me-1"></app-icon>
                Plug it
              </button>
              <button class="btn btn-icon btn-default btn-sm me-1" placement="top" ngbTooltip="Mark as read" container="body">
                <app-icon icon="eye"></app-icon>
              </button>
              <button class="btn btn-icon btn-default btn-sm me-1" placement="top" ngbTooltip="Mark as important" container="body">
                <app-icon icon="alert-circle"></app-icon>
              </button>
              <button class="btn btn-icon btn-default btn-sm me-1" placement="top" ngbTooltip="Move to trash" container="body">
                <app-icon icon="trash"></app-icon>
              </button>
            </div>
          </div>

          <p [innerHTML]="item.body.content"></p>

          <form action="#" class="my-3">
            <div class="mb-3">
              <textarea class="form-control" id="form-control-textarea" rows="4" placeholder="Enter your reply..."></textarea>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-secondary">
                Submit
                <app-icon icon="send-2" class="align-baseline ms-1"></app-icon>
              </button>
            </div>
          </form>
        </ng-template>
      </li>
      }
    </ul>
  </div>
</ngx-simplebar>
