<div class="border-bottom">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs nav-justified nav-bordered nav-bordered-secondary mb-0">
    <li [ngbNavItem]="1">
      <a href="#Posts" data-bs-toggle="tab" aria-expanded="false" ngbNavLink>
        <iconify-icon icon="tabler:cards" class="fs-xl me-md-1"></iconify-icon>
        <span class="d-none d-md-inline-block">Posts</span>
      </a>
      <ng-template ngbNavContent>
        <h4 class="mb-2">260<span class="text-muted ms-1 fs-sm">Posts</span></h4>
        <p class="fs-xs mb-0">You have published 260 posts this month, showing strong content activity across all categories.</p>

        <div class="card-body">
          <app-apexchart [getOptions]="postChartOptions" class="apex-chart"> </app-apexchart>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a href="#Orders" data-bs-toggle="tab" aria-expanded="true" ngbNavLink>
        <iconify-icon icon="tabler:truck-delivery" class="fs-xl me-md-1"></iconify-icon>
        <span class="d-none d-md-inline-block">Orders</span>
      </a>
      <ng-template ngbNavContent>
        <h4 class="mb-2">421<span class="text-muted ms-1 fs-sm">Orders</span></h4>
        <p class="fs-xs mb-0">A total of 421 orders have been placed, reflecting consistent demand for your products.</p>
        <div class="card-body">
          <app-apexchart [getOptions]="orderChartOptions" class="apex-chart"> </app-apexchart>
        </div>
      </ng-template>
    </li>
  </ul>
  <div class="p-3">
    <div class="tab-content" [ngbNavOutlet]="nav"></div>
  </div>
</div>
