<div class="row">
  <div class="col-xl-6 mb-3">
    <label class="form-label">Shop Name</label>
    <input type="text" class="form-control" placeholder="e.g., Vona Store" required />
  </div>
  <div class="col-xl-6 mb-3">
    <label class="form-label">Support Email</label>
    <input type="email" class="form-control" placeholder="support@vona.com" required />
  </div>
  <div class="col-xl-6 mb-3">
    <label class="form-label">Phone</label>
    <input type="tel" class="form-control" placeholder="+1 234 567 8901" />
  </div>
  <div class="col-xl-6 mb-3">
    <label class="form-label">Business Hours</label>
    <input type="text" class="form-control" placeholder="Mon-Fri, 9 AM - 6 PM" />
  </div>
</div>
