<div class="container-fluid">
  <app-page-breadcrumb title="Analytics" subTitle="Dashboard" />

  <div class="row">
    <div class="col-md-12">
      <app-analytics-overview />

      <div class="row">
        <div class="col-xxl-4">
          <app-sessions-device />
        </div>

        <div class="col-xxl-4 col-lg-6">
          <app-traffic-sources />
        </div>

        <div class="col-xxl-4 col-lg-6">
          <app-top-countries />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-campaign-performance />
        </div>
      </div>
    </div>
  </div>
</div>
<app-sidebar />
