<div class="card">
  <div class="card-body">
    @for(item of commentData;track $index){
    <div class="d-flex border border-dashed rounded p-3">
      <div class="flex-shrink-0">
        <img [src]="item.image" alt="" class="avatar-sm rounded-circle shadow-sm" />
      </div>
      <div class="flex-grow-1 ms-2">
        <h5 class="mb-1">{{ item.name }} <small class="text-muted">{{ item.date }} · {{ item.time }}</small></h5>
        <p class="mb-2">{{ item.message }}</p>

        <div class="d-flex justify-content-between mt-2 text-muted">
          <div class="d-flex gap-3">
            <span class="d-inline-flex align-items-center gap-1"><iconify-icon icon="tabler:eye"></iconify-icon> {{item.views}}</span>
            <span class="d-inline-flex align-items-center gap-1"><iconify-icon icon="tabler:heart"></iconify-icon> {{ item.likes }}</span>
            <span class="d-inline-flex align-items-center gap-1"><iconify-icon icon="tabler:message-circle-2"></iconify-icon> {{item.comments}}</span>
          </div>
          <a [routerLink]="[]" class="link-primary fw-semibold d-inline-flex align-items-center gap-1"> <iconify-icon icon="tabler:arrow-back-up"></iconify-icon> Reply </a>
        </div>

        @for (reply of item.replies; track $index) {
        <div class="d-flex mt-4">
          <div class="flex-shrink-0">
            <img [src]="reply.image" alt="" class="avatar-sm rounded-circle shadow-sm" />
          </div>
          <div class="flex-grow-1 ms-2">
            <h5 class="mb-1">{{ reply.name }} <small class="text-muted">{{ reply.date }} · {{ reply.time }}</small></h5>
            <p class="mb-2">{{ reply.message }}</p>

            <div class="d-flex justify-content-between text-muted">
              <div class="d-flex gap-3">
                <span class="d-inline-flex align-items-center gap-1"><iconify-icon icon="tabler:eye"></iconify-icon> {{reply.views}}</span>
                <span class="d-inline-flex align-items-center gap-1"><iconify-icon icon="tabler:heart"></iconify-icon> {{reply.likes}}</span>
                <span class="d-inline-flex align-items-center gap-1"><iconify-icon icon="tabler:message-circle-2"></iconify-icon> {{reply.comments}}</span>
              </div>
              <a [routerLink]="[]" class="link-primary fw-semibold d-inline-flex align-items-center gap-1"> <iconify-icon icon="tabler:arrow-back-up"></iconify-icon> Reply </a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
