<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">Activity</h5>
      <a [routerLink]="[]" class="link-reset fs-sm">See all</a>
    </div>

    <div class="mb-3">
      <small class="text-muted text-uppercase">Stories About You</small>
      <div class="d-flex align-items-center mt-2">
        <img src="assets/images/users/user-7.jpg" class="rounded-circle me-2" width="32" height="32" alt="mention" />
        <div>
          <strong>Mentions</strong>
          <br />
          <span class="text-muted fs-xs">3 stories mention you</span>
        </div>
      </div>
    </div>

    <span class="text-muted fs-xs fw-bold text-uppercase">New</span>
    <ul class="list-unstyled mt-2 mb-0">
      @for (item of activityData; track $index) {
      <li class="d-flex align-items-center py-1">
        <img [src]="item.user.image" class="rounded-circle me-2" width="36" height="36" [alt]="item.user.name" />
        <div class="flex-grow-1">
          <strong>{{ item.user.name }}</strong> {{ item.message }}
          <br />
          <span class="text-muted fs-xs">{{ item.time }}</span>
        </div>

        @if (item.image) {
        <div>
          <img [src]="item.image" class="rounded" width="32" height="32" alt="commented" />
        </div>
        } @else {
        <div class="text-primary">
          <app-icon icon="user-plus" class="fs-lg"></app-icon>
        </div>
        }
      </li>
      }
    </ul>
  </div>
</div>
