<div class="card">
  <div class="card-body" [ngClass]="bodyClass ? 'pb-2' : ''">
    <div class="d-flex align-items-center mb-2">
      <img class="me-2 rounded-circle" [src]="avatar" alt="Generic placeholder image" [class]="avatarSize === 'md' ? 'avatar-md' : 'avatar-sm'" />
      <div class="w-100">
        <h5 class="m-0">
          <a [routerLink]="[]" class="link-reset">{{ name }}</a>
        </h5>
        <p class="text-muted mb-0">
          <small>{{ time }}</small>
        </p>
      </div>
      <div ngbDropdown class="ms-auto" placement="bottom-end">
        <a ngbDropdownToggle [routerLink]="[]" class="text-muted drop-arrow-none card-drop p-0" data-bs-toggle="dropdown">
          <app-icon icon="dots-vertical" class="fs-lg"></app-icon>
        </a>
        <div ngbDropdownMenu class="dropdown-menu-end">
          <a ngbDropdownItem [routerLink]="[]">
            <app-icon icon="edit" class="me-2"></app-icon>
            Edit Post
          </a>
          <a ngbDropdownItem [routerLink]="[]">
            <app-icon icon="trash" class="me-2"></app-icon>
            Delete Post
          </a>
          <a ngbDropdownItem [routerLink]="[]">
            <app-icon icon="share" class="me-2"></app-icon>
            Share
          </a>
          <a ngbDropdownItem [routerLink]="[]">
            <app-icon icon="pin" class="me-2"></app-icon>
            Pin to Top
          </a>
          <a ngbDropdownItem [routerLink]="[]">
            <app-icon icon="flag" class="me-2"></app-icon>
            Report Post
          </a>
        </div>
      </div>
    </div>
    @if (description) {
    <p>{{ description }}</p>
    }
    <ng-content></ng-content>
    @if (showActions) {
    <div class="mt-2">
      <a [routerLink]="[]" class="btn btn-sm fs-sm btn-link text-muted">
        <app-icon icon="corner-up-left" class="me-1"></app-icon>
        Reply
      </a>

      <span class="btn btn-sm fs-sm btn-link text-muted" (click)="toggleLike()">
        <app-icon [icon]="liked ? 'heart-filled' : 'heart'" class="me-1" [ngClass]="liked ? 'text-danger' : 'text-muted'"></app-icon>
        {{ liked ? 'Liked!' : 'Likes (45)' }}
      </span>

      <a [routerLink]="[]" class="btn btn-sm fs-sm btn-link text-muted">
        <app-icon icon="share" class="me-1"></app-icon>
        Share
      </a>
    </div>
    }
  </div>
</div>
