<div class="card">
  <div class="card-header justify-content-between align-items-center">
    <h5 class="card-title">Latest Project Updates</h5>
    <span class="badge text-bg-warning fs-xxs p-1"> 8 Notifications</span>
  </div>
  <div class="card-body">
    <div class="timeline timeline-icon-bordered">
      @for(item of timelineData;track $index;let last = $last){
      <div class="timeline-item d-flex align-items-stretch">
        <div class="timeline-dot">
          <iconify-icon [icon]="item.icon" class="fs-xl text-{{item.variant}}"></iconify-icon>
        </div>
        <div class="timeline-content ps-3">
          <div class="d-flex justify-content-between">
            <h5 class="mb-1 fs-base">{{item.title}} <span class="badge badge-label badge-soft-{{item.badge.variant}} ms-2">{{item.badge.text}}</span></h5>
            <span class="text-muted fs-xxs">{{item.time}}</span>
          </div>
          <p class="mb-1 text-muted">{{item.description}}</p>
          <div class="d-flex align-items-center gap-2">
            <img [src]="item.image" [alt]="item.name" class="rounded-circle avatar-xxs" />
            <a routerLink="/pages/profile" class="fw-medium link-reset text-muted">{{item.name}}</a>
          </div>
          @if (!last) {
          <hr class="border-dashed" />
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
