<div class="card">
  <div class="card-header justify-content-between border-dashed">
    <h4 class="card-title">Customer Details</h4>
    <a [routerLink]="[]" class="btn btn-default btn-sm btn-icon rounded-circle"><app-icon icon="pencil" class="fs-lg"></app-icon></a>
  </div>

  <div class="card-body">
    <div class="d-flex align-items-center mb-4">
      <div class="me-2">
        <img src="assets/images/users/user-5.jpg" alt="avatar" class="rounded-circle avatar-lg" />
      </div>
      <div>
        <h5 class="mb-1 d-flex align-items-center">
          <a [routerLink]="[]" class="link-reset">Sophia Carter</a>
          <img src="assets/images/flags/gb.svg" alt="UK" class="ms-2 rounded-circle" height="16" />
        </h5>
        <p class="text-muted mb-0">Since 2020</p>
      </div>
      <div class="ms-auto">
        <div ngbDropdown placement="bottom-end">
          <a [routerLink]="[]" class="btn btn-icon btn-ghost-light text-muted drop-arrow-none" ngbDropdownToggle>
            <app-icon icon="dots-vertical" class="fs-xl"></app-icon>
          </a>
          <ul class="dropdown-menu-end" ngbDropdownMenu>
            <li>
              <a ngbDropdownItem [routerLink]="[]"><app-icon icon="share" class="me-2"></app-icon> Share</a>
            </li>
            <li>
              <a ngbDropdownItem [routerLink]="[]"><app-icon icon="edit" class="me-2"></app-icon> Edit</a>
            </li>
            <li>
              <a ngbDropdownItem [routerLink]="[]"><app-icon icon="ban" class="me-2"></app-icon> Block</a>
            </li>
            <li>
              <a ngbDropdownItem class="text-danger" [routerLink]="[]"><app-icon icon="trash" class="me-2"></app-icon> Delete</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="list-unstyled text-muted mb-0">
      <li class="mb-2">
        <div class="d-flex align-items-center gap-2">
          <div class="avatar-xs avatar-img-size fs-24">
            <span class="avatar-title text-bg-light fs-sm rounded-circle">
              <app-icon icon="mail"></app-icon>
            </span>
          </div>
          <h5 class="fs-base mb-0 fw-medium"><a [routerLink]="[]" class="link-reset">sophia@designhub.com</a></h5>
        </div>
      </li>
      <li class="mb-2">
        <div class="d-flex align-items-center gap-2">
          <div class="avatar-xs avatar-img-size fs-24">
            <span class="avatar-title text-bg-light fs-sm rounded-circle">
              <app-icon icon="phone"></app-icon>
            </span>
          </div>
          <h5 class="fs-base mb-0 fw-medium"><a [routerLink]="[]" class="link-reset">+44 7911 123456</a></h5>
        </div>
      </li>
      <li>
        <div class="d-flex align-items-center gap-2">
          <div class="avatar-xs avatar-img-size fs-24">
            <span class="avatar-title text-bg-light fs-sm rounded-circle">
              <app-icon icon="map-pin"></app-icon>
            </span>
          </div>
          <h5 class="fs-base mb-0 fw-medium">London, UK</h5>
        </div>
      </li>
    </ul>
  </div>
  <!-- end card-body-->
</div>
