<div class="card">
  <div class="card-header justify-content-between align-items-center border-dashed">
    <h4 class="card-title mb-0">Trending</h4>
    <div ngbDropdown>
      <a ngbDropdownToggle [routerLink]="[]" class="text-muted drop-arrow-none card-drop p-0">
        <app-icon icon="dots-vertical" class="fs-lg"></app-icon>
      </a>
      <div ngbDropdownMenu class="dropdown-menu-end">
        <a ngbDropdownItem [routerLink]="[]">
          <app-icon icon="refresh" class="me-2"></app-icon>
          Refresh Feed
        </a>
        <a ngbDropdownItem [routerLink]="[]">
          <app-icon icon="settings" class="me-2"></app-icon>
          Manage Topics
        </a>
        <a ngbDropdownItem [routerLink]="[]">
          <app-icon icon="alert-circle" class="me-2"></app-icon>
          Report Issue
        </a>
      </div>
    </div>
  </div>

  <div class="card-body">
    @for (item of trendingData; track $index; let last = $last) {
    <div class="d-flex {{!last ? 'mb-3' : ''}}">
      <app-icon icon="trending-up" class="text-primary me-2 mt-1"></app-icon>
      <a [routerLink]="item.href" class="link-reset text-decoration-none"> <strong>{{ item.title }}:</strong> {{ item.description }} </a>
    </div>
    }
  </div>
</div>
