<div class="card">
  <div class="card-header">
    <h4 class="card-title">Shipping Activity</h4>
  </div>
  <div class="card-body p-4">
    <div class="timeline">
      @for (item of shippingTimelineData; track $index;let last = $last) {
      <div class="timeline-item d-flex align-items-stretch">
        <div class="timeline-time pe-3 text-muted">{{item.time}}</div>
        <div class="timeline-dot" [class]="item.time ? 'bg-success' : 'bg-light'"></div>
        <div class="timeline-content ps-3" [class]="!last ? 'pb-5' : ''">
          <h5 class="mb-1">{{item.title}}</h5>
          <p class="mb-1 text-muted">{{ item.description }}</p>
          <p class="mb-1 text-muted fs-xxs">Tracking No: <a [routerLink]="[]" class="link-primary fw-semibold text-decoration-underline"> {{ item.trackingNo }}</a></p>
          <span class="fw-semibold fs-xxs">By {{ item.trackingBy }}</span>
        </div>
      </div>
      }
    </div>
  </div>
</div>
