<div class="container-fluid">
  <app-page-breadcrumb title="API Keys" subTitle="Apps"></app-page-breadcrumb>
  <div class="row g-3">
    @for (item of apiStatisticsData; track $index) {
    <div class="col-md-6 col-lg-3">
      <app-api-widget [item]="item" />
    </div>
    }
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header border-light justify-content-between">
          <div class="d-flex gap-2">
            <div class="app-search">
              <input [(ngModel)]="tableService.searchTerm" type="text" class="form-control" placeholder="Search API clients..." />
              <app-icon icon="search" class="app-search-icon text-muted"></app-icon>
            </div>
            @if (hasSelection) {
            <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
            }
            <button type="button" class="btn btn-secondary rounded-circle btn-icon">
              <app-icon icon="plus" class="fs-lg"></app-icon>
            </button>
          </div>

          <div class="d-flex align-items-center gap-2">
            <span class="me-2 fw-semibold">Filter By:</span>

            <!-- Status Filter -->
            <div class="app-search">
              <select [(ngModel)]="filterStatus" (ngModelChange)="tableService.setFilter('status', filterStatus)" class="form-select form-control my-1 my-md-0">
                <option value="All">Status</option>
                <option value="active">Active</option>
                <option value="pending">Pending</option>
                <option value="revoked">Revoked</option>
                <option value="suspended">Suspended</option>
                <option value="expired">Expired</option>
              </select>
              <app-icon icon="circle-check" class="app-search-icon text-muted"></app-icon>
            </div>

            <!-- Region Filter -->
            <div class="app-search">
              <select [(ngModel)]="filterByRegion" (ngModelChange)="tableService.setFilter('country.code', filterByRegion)" class="form-select form-control my-1 my-md-0">
                <option value="All">Region</option>
                <option value="US">USA</option>
                <option value="UK">UK</option>
                <option value="IN">India</option>
                <option value="DE">Germany</option>
                <option value="AU">Australia</option>
              </select>
              <app-icon icon="world" class="app-search-icon text-muted"></app-icon>
            </div>

            <!-- Records Per Page -->
            <div>
              <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                <option [ngValue]="5">5</option>
                <option [ngValue]="8">8</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
                <option [ngValue]="20">20</option>
              </select>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table text-nowrap table-custom table-centered table-hover w-100 mb-0">
            <thead class="bg-light bg-opacity-25 thead-sm">
              <tr class="text-uppercase fs-xxs">
                <th scope="col" style="width: 1%">
                  <input class="form-check-input form-check-input-light fs-14 mt-0" [checked]="selectAll" (change)="toggleAllSelection($event.target.checked)" type="checkbox" value="option" />
                </th>
                <th sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">Name</th>
                <th sortable="user.name" (sort)="tableService.setSort($event.column, $event.direction)">Created By</th>
                <th>API Key</th>
                <th sortable="status" (sort)="tableService.setSort($event.column, $event.direction)">Status</th>
                <th sortable="createdAtDate" (sort)="tableService.setSort($event.column, $event.direction)">Created</th>
                <th sortable="expireAtDate" (sort)="tableService.setSort($event.column, $event.direction)">Expired</th>
                <th sortable="country.code" (sort)="tableService.setSort($event.column, $event.direction)">Region</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>

            <tbody>
              @if ((total$ | async)! > 0) { @for (item of (apiClientData$ | async); track $index; let i = $index) {
              <tr>
                <td>
                  <input (change)="toggleSingleSelection(i)" [checked]="selectedIds.has(i)" type="checkbox" class="form-check-input form-check-input-light fs-14 mt-0" />
                </td>
                <td class="fw-medium">{{ item.name }}</td>
                <td>
                  <div class="d-flex align-items-center gap-2">
                    <img [src]="item.user.image" class="avatar avatar-xs rounded-circle" alt="avatar" />
                    <h5 class="fs-sm mb-0 lh-base">{{ item.user.name }}</h5>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input class="form-control form-control-sm" readonly [value]="item.apiKey" />
                    <button class="btn btn-sm btn-icon btn-light" (click)="copyToClipboard(item.apiKey)">
                      <app-icon icon="copy" class="fs-lg"></app-icon>
                    </button>
                  </div>
                </td>
                <td>
                  <span
                    [class]="
                      item.status === 'pending'
                        ? 'bg-warning-subtle text-warning'
                        : item.status === 'revoked' || item.status === 'suspended'
                        ? 'bg-danger-subtle text-danger'
                        : item.status === 'trial'
                        ? 'bg-info-subtle text-info'
                        : item.status === 'expired'
                        ? 'bg-secondary-subtle text-secondary'
                        : 'bg-success-subtle text-success'
                    "
                    class="badge badge-label"
                  >
                    {{ toTitleCase(item.status) }}
                  </span>
                </td>
                <td>{{ item.createdAtDate }}</td>
                <td>{{ item.expireAtDate }}</td>
                <td>
                  <span class="badge p-1 text-bg-light fs-sm">
                    <img [src]="item.country.flag" alt="" class="rounded-circle me-1" height="12" />
                    {{ item.country.code }}
                  </span>
                </td>
                <td>
                  <div class="d-flex justify-content-center gap-1">
                    <button class="btn btn-light btn-icon btn-sm rounded-circle">
                      <app-icon icon="eye" class="fs-lg"></app-icon>
                    </button>
                    <button class="btn btn-light btn-icon btn-sm rounded-circle">
                      <app-icon icon="edit" class="fs-lg"></app-icon>
                    </button>
                    <button class="btn btn-light btn-icon btn-sm rounded-circle" (click)="tableService.deleteItem(item)">
                      <app-icon icon="trash" class="fs-lg"></app-icon>
                    </button>
                  </div>
                </td>
              </tr>
              } } @else {
              <tr class="no-results">
                <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
              </tr>
              }
            </tbody>
            <!-- end table-body -->
          </table>
          <!-- end table -->
        </div>
        <div class="card-footer border-0">
          @if ((total$ | async)! > 0) {

          <app-custom-pagination itemsName="apis" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>

          }
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>
