<div class="card">
  <div class="card-header justify-content-between align-items-center border-dashed">
    <h4 class="card-title mb-0">Recent Orders</h4>
    <div class="d-flex gap-2">
      <a [routerLink]="[]" class="btn btn-sm btn-soft-secondary"> <iconify-icon icon="tabler:plus" class="me-1"></iconify-icon> Add Order </a>
      <a [routerLink]="[]" class="btn btn-sm btn-primary"> <iconify-icon icon="tabler:file-export" class="me-1"></iconify-icon> Export CSV </a>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-centered table-custom table-sm table-nowrap table-hover mb-0">
        <tbody>
          @if ((total$ | async)! > 0) { @for (order of orderData$ | async; track $index) {
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img [src]="order.user.image" alt="" class="avatar-sm rounded-circle me-2" />
                <div>
                  <h5 class="fs-base my-1">
                    <a [routerLink]="[]" class="text-body">#{{ order.id }}</a>
                  </h5>
                  <span class="text-muted fs-xs">{{ order.user.name }}</span>
                </div>
              </div>
            </td>
            <td>
              <span class="text-muted fs-xs">Product</span>
              <h5 class="fs-base mt-1 fw-normal">{{ order.product }}</h5>
            </td>
            <td>
              <span class="text-muted fs-xs">Date</span>
              <h5 class="fs-base mt-1 fw-normal">{{ order.date }}</h5>
            </td>
            <td>
              <span class="text-muted fs-xs">Amount</span>
              <h5 class="fs-base mt-1 fw-normal">${{ order.amount }}</h5>
            </td>
            <td>
              <span class="text-muted fs-xs">Status</span>
              <h5 class="fs-base mt-1 fw-normal">
                <iconify-icon icon="tabler:circle-filled" [class]="`fs-xs text-${order.variant}`"></iconify-icon>
                {{ toTitleCase(order.status) }}
              </h5>
            </td>
            <td style="width: 30px">
              <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle class="dropdown-toggle text-muted drop-arrow-none card-drop p-0 bg-transparent border-0">
                  <iconify-icon icon="tabler:dots-vertical" class="fs-lg"></iconify-icon>
                </button>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                  <a [routerLink]="[]" ngbDropdownItem class="dropdown-item">View Details</a>
                  <a [routerLink]="[]" ngbDropdownItem class="dropdown-item">Cancel Order</a>
                </div>
              </div>
            </td>
          </tr>
          } } @else {
          <tr class="no-results">
            <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- end table-responsive-->
  </div>
  <!-- end card-body-->

  <div class="card-footer border-0">
    @if ((total$ | async)! > 0) {
    <app-custom-pagination itemsName="orders" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>
    }
  </div>
</div>
