<div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 align-items-center">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <a [routerLink]="[]" class="text-muted float-end mt-n1 fs-xl"><iconify-icon icon="tabler:external-link"></iconify-icon></a>
        <h5 title="Number of Tasks">My Tasks</h5>
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="avatar-md flex-shrink-0">
            <span class="avatar-title text-bg-light rounded-circle fs-22">
              <iconify-icon icon="tabler:checklist"></iconify-icon>
            </span>
          </div>
          <h3 class="mb-0"><span [countUp]="124"></span></h3>
          <span class="badge badge-soft-primary fw-medium ms-2 fs-xs ms-auto">+3 New</span>
        </div>
        <p class="mb-0">
          <span class="text-primary"><iconify-icon icon="tabler:point-filled"></iconify-icon></span>
          <span class="text-nowrap text-muted">Total Tasks</span>
          <span class="float-end"><b>12,450</b></span>
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <a [routerLink]="[]" class="text-muted float-end mt-n1 fs-xl"><iconify-icon icon="tabler:external-link"></iconify-icon></a>
        <h5 title="Number of Messages">Messages</h5>
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="avatar-md flex-shrink-0">
            <span class="avatar-title text-bg-purple rounded-circle fs-22">
              <iconify-icon icon="tabler:message-circle"></iconify-icon>
            </span>
          </div>
          <h3 class="mb-0"><span [countUp]="69.5" [countUpOptions]="{ decimalPlaces: 2 }"></span>k</h3>
          <span class="badge badge-soft-secondary fw-medium ms-2 fs-xs ms-auto">+5 New</span>
        </div>
        <p class="mb-0">
          <span class="text-secondary"><iconify-icon icon="tabler:point-filled"></iconify-icon></span>
          <span class="text-nowrap text-muted">Total Messages</span>
          <span class="float-end"><b>32.1M</b></span>
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-bg-primary">
      <div class="card-body">
        <a [routerLink]="[]" class="text-white-50 float-end mt-n1 fs-xl"><iconify-icon icon="tabler:external-link"></iconify-icon></a>
        <h5 title="Pending Approvals">Approvals</h5>
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="avatar-md flex-shrink-0">
            <span class="avatar-title bg-white bg-opacity-20 rounded-circle fs-22">
              <iconify-icon icon="tabler:file-check"></iconify-icon>
            </span>
          </div>
          <h3 class="mb-0"><span [countUp]="32"></span></h3>
        </div>
        <p class="mb-0">
          <span class="text-nowrap text-white text-opacity-75">Total Approvals:</span>
          <span class="float-end"
            ><b><span [countUp]="1479">0</span></b></span
          >
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <a [routerLink]="[]" class="text-muted float-end mt-n1 fs-xl"><iconify-icon icon="tabler:external-link"></iconify-icon></a>
        <h5 title="Total Clients">Clients</h5>
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="avatar-md flex-shrink-0">
            <span class="avatar-title text-bg-info rounded-circle fs-22">
              <iconify-icon icon="tabler:users"></iconify-icon>
            </span>
          </div>
          <h3 class="mb-0"><span [countUp]="184"></span></h3>
          <span class="badge badge-soft-secondary fw-medium ms-2 fs-xs ms-auto">+4 New</span>
        </div>
        <p class="mb-0">
          <span class="text-secondary"><iconify-icon icon="tabler:point-filled"></iconify-icon></span>
          <span class="text-nowrap text-muted">Total Clients</span>
          <span class="float-end"><b>9,835</b></span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-auto">
    <div class="card bg-danger bg-opacity-10">
      <div class="card-body">
        <a [routerLink]="[]" class="text-muted float-end mt-n1 fs-xl"><iconify-icon icon="tabler:external-link"></iconify-icon></a>
        <h5 title="Revenue Generated">Revenue</h5>
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="avatar-md flex-shrink-0">
            <span class="avatar-title text-bg-danger bg-opacity-90 rounded-circle fs-22">
              <iconify-icon icon="tabler:credit-card"></iconify-icon>
            </span>
          </div>
          <h3 class="mb-0">$<span [countUp]="125.5" [countUpOptions]="{ decimalPlaces: 2 }"></span>k</h3>
          <span class="badge badge-soft-danger fw-medium ms-2 fs-xs ms-auto">+1.5%</span>
        </div>
        <p class="mb-0">
          <span class="text-primary"><iconify-icon icon="tabler:point-filled"></iconify-icon></span>
          <span class="text-nowrap text-muted">Total Revenue</span>
          <span class="float-end"><b>$12.5M</b></span>
        </p>
      </div>
    </div>
  </div>
</div>
