<div class="card">
  <div class="card-body">
    <div>
      <a [routerLink]="[]" class="link-reset text-uppercase fw-semibold">{{item.title}}</a>
      <div class="py-2">
        <span class="fs-xl fw-bold me-2"><span [countUp]="item.value" [countUpOptions]="{decimalPlaces: Number.isInteger(item.value) ? 0 : 2}"></span>%</span>
        <span class="fw-semibold text-muted fs-7"> {{toPascalCase(item.status)}}</span>
      </div>
    </div>
    <ngb-progressbar [value]="item.value" [type]="'success'" textType="success" class="bg-success progress-md bg-opacity-25" />
    <div class="mt-2 text-muted">{{item.description}}</div>
  </div>
</div>
