<div class="card card-h-100">
  <div class="card-header">
    <h4 class="card-title">Basic Activity Stream</h4>
  </div>

  <div class="card-body">
    @for (item of basicActivityData; track $index; let first = $first) {

    <div class="py-2 d-flex gap-3 align-items-center {{first ? 'pt-0 pb-2' : 'py-2'}}">
      <span class="badge badge-label" [class]="'text-bg-' + (item.variant)"> {{ item.status }} </span>

      <span class="text-muted">{{ item.time }}</span>

      <a [routerLink]="[]" class="link-reset fw-semibold">
        <img [src]="item.user.image" alt="" class="rounded-circle avatar-xxs" />
        {{ item.user.name }}
      </a>

      {{ item.action }}
    </div>
    }
  </div>
</div>
