<div class="container-fluid">
  <app-page-breadcrumb title="Categories" subTitle="Ecommerce" />
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header border-light justify-content-between">
          <div class="d-flex gap-2">
            <div class="app-search">
              <input [(ngModel)]="tableService.searchTerm" type="search" class="form-control" placeholder="Search category..." />
              <app-icon icon="search" class="app-search-icon text-muted"></app-icon>
            </div>
            @if (hasSelection) {
            <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
            }
          </div>

          <div class="d-flex align-items-center gap-1">
            <!-- Records Per Page -->
            <div>
              <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                <option [ngValue]="5">5</option>
                <option [ngValue]="8">8</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
                <option [ngValue]="20">20</option>
              </select>
            </div>

            <!-- Status Filter -->
            <div class="app-search">
              <select [(ngModel)]="filterStatus" (ngModelChange)="tableService.setFilter('status', filterStatus)" class="form-select form-control my-1 my-md-0">
                <option value="All">All</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
              <app-icon icon="circle" class="app-search-icon text-muted"></app-icon>
            </div>

            <a [routerLink]="[]" class="btn btn-primary ms-1"> <app-icon icon="plus" class="fs-sm me-2"></app-icon> Add Category </a>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
              <tr class="text-uppercase fs-xxs">
                <th class="ps-3" style="width: 1%">
                  <input [checked]="selectAll" (change)="toggleAllSelection($event.target.checked)" class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" value="option" />
                </th>
                <th sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">Category Name</th>
                <th sortable="slug" (sort)="tableService.setSort($event.column, $event.direction)">Slug</th>
                <th sortable="products" (sort)="tableService.setSort($event.column, $event.direction)">Products</th>
                <th sortable="orders" (sort)="tableService.setSort($event.column, $event.direction)">Orders</th>
                <th sortable="earnings" (sort)="tableService.setSort($event.column, $event.direction)">Earnings</th>
                <th sortable="lastModifiedDate" (sort)="tableService.setSort($event.column, $event.direction)">Last Modify</th>
                <th sortable="status" (sort)="tableService.setSort($event.column, $event.direction)">Status</th>
                <th class="text-center" style="width: 1%">Actions</th>
              </tr>
            </thead>
            <tbody>
              @if ((total$ | async)! > 0) { @for (product of (categoryData$ | async); track $index) {
              <tr>
                <td class="ps-3">
                  <input [checked]="selectedIds.has(product.slug)" (change)="toggleSingleSelection(product)" class="form-check-input form-check-input-light fs-14 product-item-check mt-0" type="checkbox" value="option" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar-md me-3">
                      <img [src]="product.image" alt="Product" class="img-fluid rounded" />
                    </div>
                    <div>
                      <h5 class="mb-0">
                        <a [routerLink]="[]" class="link-reset">{{ product.name }}</a>
                      </h5>
                    </div>
                  </div>
                </td>
                <td>{{ product.slug }}</td>
                <td>
                  <h5 class="fs-base mb-0 fw-medium">{{ product.products }}</h5>
                </td>
                <td>{{product.orders}}</td>
                <td>{{product.earnings}}</td>
                <td>{{product.lastModifiedDate}} <small class="text-muted">{{product.lastModifiedTime}}</small></td>
                <td><span class="badge fs-xxs" [class]="product.status === 'active'? 'badge-soft-success': 'badge-soft-danger'">{{ toPascalCase(product.status) }}</span></td>
                <td>
                  <div class="d-flex justify-content-center gap-1">
                    <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle"><app-icon icon="eye" class="fs-lg"></app-icon></a>
                    <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle"><app-icon icon="edit" class="fs-lg"></app-icon></a>
                    <a [routerLink]="[]" (click)="tableService.deleteItem(product)" class="btn btn-light btn-icon btn-sm rounded-circle"><app-icon icon="trash" class="fs-lg"></app-icon></a>
                  </div>
                </td>
              </tr>
              } } @else {
              <tr class="no-results">
                <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="card-footer border-0">
          @if ((total$ | async)! > 0) {
          <app-custom-pagination itemsName="categories" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>
          }
        </div>
      </div>
    </div>
  </div>
</div>
