<div class="container-fluid">
  <app-page-breadcrumb title="Manage Apps" subTitle="Apps"></app-page-breadcrumb>
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-1 fs-lg">Authorized Apps</h5>
        <p class="text-muted">
          You’re currently using
          <strong>3 of 3</strong>
          free integrations. Upgrade to
          <a [routerLink]="[]" class="text-decoration-underline">PRO</a>
          to unlock more integrations and supercharge your workflow.
        </p>
      </div>
    </div>

    <div class="row">
      @for (card of authorizedAppData; track $index) {
      <div class="col-md-4">
        <app-integration-cards [card]="card" />
      </div>
      }
    </div>

    <div class="row my-3">
      <div class="col-12">
        <h5 class="mb-1 fs-lg">Explore More Integrations</h5>
        <p class="text-muted mb-3">Discover over 200 integrations to enhance your workflow</p>
      </div>
    </div>

    <div class="row">
      @for( card of integrationData; track $index){
      <div class="col-md-4">
        <app-integration-explore-card [card]="card" />
      </div>
      }
      <div class="col-12 mb-3">
        <nav>
          <ul class="pagination pagination-boxed pagination-rounded justify-content-center">
            <ngb-pagination [collectionSize]="50" [page]="2">
              <ng-template ngbPaginationPrevious>
                <app-icon icon="chevron-left"></app-icon>
              </ng-template>
              <ng-template ngbPaginationNext>
                <app-icon icon="chevron-right"></app-icon>
              </ng-template>
            </ngb-pagination>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
