<div class="row">
  <div class="col-12">
    <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
      <app-icon icon="info-circle" class="fs-xxl"></app-icon>
      <div>
        To enable this layout, use <code>updateLayout</code> from <code>LayoutService</code> located at <code>services/layout.service</code> and pass it <code>&#123; {{option}}: '{{value}}' &#125;</code>.
        <br />
        eg. <code>this.layout.updateLayout(&#123; {{option}}: '{{value}}' &#125;)</code>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="m-0">Your custom content here</h4>
      </div>
    </div>
  </div>
</div>
