<div class="card">
  <div class="card-header">
    <h4 class="card-title">Chat</h4>
  </div>

  <ngx-simplebar class="card-body py-0" style="height: 380px" id="chat-container">
    @for (item of chatMessageData; track $index) {
    <div class="d-flex align-items-start gap-2 my-3 chat-item" [class]="item.user === currentUser ? 'text-end justify-content-end' : ''">
      @if (item.user !== currentUser) {
      <img [src]="item.user.image" class="avatar-md rounded-circle" alt="User" />
      }
      <div>
        <div class="chat-message py-2 px-3 rounded" [class]="item.user === currentUser ? 'bg-info-subtle' : 'bg-warning-subtle'">{{ item.message }}</div>
        <div class="text-muted fs-xs mt-1"><iconify-icon icon="tabler:clock"></iconify-icon> {{ item.time }}</div>
      </div>
      @if (item.user === currentUser) {
      <img [src]="item.user.image" class="avatar-md rounded-circle" alt="User" />
      }
    </div>
    }
  </ngx-simplebar>

  <div class="card-footer bg-body-secondary border-top border-dashed border-bottom-0">
    <div class="d-flex gap-2">
      <div class="app-search flex-grow-1">
        <input type="text" class="form-control bg-light-subtle border-light" placeholder="Enter message..." />
        <iconify-icon icon="tabler:message" class="app-search-icon text-muted"></iconify-icon>
      </div>
      <a [routerLink]="[]" class="btn btn-primary btn-icon"><iconify-icon icon="tabler:send-2" class="fs-xl"></iconify-icon></a>
    </div>
  </div>
</div>
