<div class="container-fluid">
  <app-page-breadcrumb title="Invoices" subTitle="Apps"></app-page-breadcrumb>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header border-light justify-content-between">
          <div class="d-flex gap-2">
            <div class="app-search">
              <input [(ngModel)]="tableService.searchTerm" type="text" class="form-control" placeholder="Search invoices..." />
              <app-icon icon="search" class="app-search-icon text-muted"></app-icon>
            </div>
            <a routerLink="/apps/invoice/create" class="btn btn-secondary rounded-circle btn-icon"> <app-icon icon="plus" class="fs-lg"></app-icon></a>
            @if (hasSelection) {
            <button (click)="deleteSelected()" class="btn btn-danger">Delete</button>
            }
          </div>

          <div class="d-flex align-items-center gap-2">
            <span class="me-2 fw-semibold">Filter By:</span>

            <!-- Invoice Status Filter -->
            <div class="app-search">
              <select [(ngModel)]="filterStatus" (ngModelChange)="tableService.setFilter('status', filterStatus)" class="form-select form-control my-1 my-md-0">
                <option value="">Status</option>
                <option value="paid">Paid</option>
                <option value="pending">Pending</option>
                <option value="overdue">Overdue</option>
                <option value="draft">Draft</option>
              </select>
              <app-icon icon="circle-check" class="app-search-icon text-muted"></app-icon>
            </div>

            <!-- Records Per Page -->
            <div>
              <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                <option [ngValue]="5">5</option>
                <option [ngValue]="8">8</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
                <option [ngValue]="20">20</option>
              </select>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
              <tr class="text-uppercase fs-xxs">
                <th class="ps-3" style="width: 1%">
                  <input [checked]="selectAll" (change)="toggleAllSelection($event.target.checked)" class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" id="select-all-files" value="option" />
                </th>
                <th>ID</th>
                <th>Create & End Date</th>
                <th sortable="user.name" (sort)="tableService.setSort($event.column, $event.direction)">Clients Name</th>
                <th sortable="purchase" (sort)="tableService.setSort($event.column, $event.direction)">Purchase</th>
                <th sortable="amount" (sort)="tableService.setSort($event.column, $event.direction)">Amount</th>
                <th sortable="status" (sort)="tableService.setSort($event.column, $event.direction)">Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <!-- end table-head -->
            <tbody>
              @if ((total$ | async)! > 0) { @for (invoice of (invoiceData$ | async); track $index) {
              <tr>
                <td class="ps-3">
                  <input [checked]="selectedIds.has(invoice.id)" (change)="toggleSingleSelection(invoice)" class="form-check-input form-check-input-light fs-14 file-item-check mt-0" type="checkbox" value="option" />
                </td>
                <td>
                  <h5 class="m-0">
                    <app-icon
                      icon="invoice"
                      [ngClass]="
                                            invoice.status === 'paid' ? 'text-success' :
                                            invoice.status === 'pending' ? 'text-warning' :
                                            invoice.status === 'overdue' ? 'text-danger' :
                                            'text-info'
                                         "
                      class="fs-lg me-1"
                    >
                    </app-icon>
                    <a routerLink="/apps/invoice/details" class="link-reset fw-semibold">#{{ invoice.id }}</a>
                  </h5>
                </td>
                <td>{{ invoice.date }}</td>
                <td>
                  <div class="d-flex justify-content-start align-items-center gap-2">
                    @if (invoice.user.image) {
                    <div class="avatar avatar-sm">
                      <img [src]="invoice.user.image" alt="avatar" class="img-fluid rounded-circle" />
                    </div>
                    } @else {

                    <div class="avatar-sm flex-shrink-0">
                      <span class="avatar-title fw-bold rounded-circle text-bg-primary"> {{ generateInitials(invoice.user.name) }} </span>
                    </div>
                    }
                    <div>
                      <h5 class="text-nowrap fs-base mb-0 lh-base">
                        <a [routerLink]="[]" class="link-reset">{{ invoice.user.name }}</a>
                      </h5>
                      <p class="text-muted fs-xs mb-0">{{ invoice.user.email }}</p>
                    </div>
                  </div>
                </td>
                <td>{{ invoice.purchase }}</td>
                <td>{{ invoice.amount }} USD</td>
                <td>
                  <span
                    class="badge badge-label"
                    [class]="
                                            invoice.status === 'pending' ? 'bg-warning-subtle text-warning' :
                                            invoice.status === 'overdue' ? 'bg-danger-subtle text-danger' :
                                            invoice.status === 'paid' ? 'bg-success-subtle text-success' :
                                            'bg-info-subtle text-info'
                                        "
                  >
                    {{ toPascalCase(invoice.status) }}
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-center gap-1">
                    <a routerLink="/apps/invoice/details" class="btn btn-light btn-icon btn-sm rounded-circle"><app-icon icon="eye" class="fs-lg"></app-icon></a>
                    <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle"><app-icon icon="edit" class="fs-lg"></app-icon></a>
                    <a [routerLink]="[]" (click)="tableService.deleteItem(invoice)" class="btn btn-light btn-icon btn-sm rounded-circle"><app-icon icon="trash" class="fs-lg"></app-icon></a>
                  </div>
                </td>
              </tr>
              } } @else {
              <tr class="no-results">
                <td colspan="12" class="text-center text-muted py-3">Nothing found.</td>
              </tr>
              }
            </tbody>

            <!-- end table-body -->
          </table>
          <!-- end table -->
        </div>
        <div class="card-footer border-0">
          @if ((total$ | async)! > 0) {
          <app-custom-pagination itemsName="invoices" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>
          }
        </div>
      </div>
    </div>
  </div>
</div>
