<div class="container-fluid">
  <app-page-breadcrumb title="Vote List" subTitle="Apps"></app-page-breadcrumb>

  <div class="row justify-content-center">
    <div class="col-xxl-10">
      <div class="card">
        <div class="card-header border-light justify-content-between">
          <div class="app-search">
            <input type="text" class="form-control" placeholder="Search topics..." />
            <app-icon icon="search" class="app-search-icon text-muted"></app-icon>
          </div>

          <div class="d-flex align-items-center gap-2">
            <span class="me-2 fw-semibold">Filter By:</span>

            <div class="app-search">
              <select class="form-select form-control my-1 my-md-0">
                <option selected>Sort By</option>
                <option value="North America">Latest</option>
                <option value="Europe">Popular</option>
                <option value="Asia">Low Votes</option>
                <option value="Africa">High Votes</option>
              </select>
              <app-icon icon="filter-2" class="app-search-icon text-muted"></app-icon>
            </div>

            <div class="app-search">
              <select class="form-select form-control my-1 my-md-0">
                <option selected>Vote Status</option>
                <option value="Voted">Voted</option>
                <option value="Not Voted">Not Voted</option>
                <option value="Pending">Pending</option>
                <option value="Disqualified">Disqualified</option>
              </select>
              <app-icon icon="circle-check" class="app-search-icon text-muted"></app-icon>
            </div>

            <button type="submit" class="btn btn-success">Add New Topics</button>
          </div>
        </div>

        <div class="card-body p-0">
          @for (vote of voteListData; track $index) {
          <div class="border-bottom border-dashed px-4 py-3">
            <div class="d-flex gap-4 align-items-center">
              <div>
                <div class="vstack gap-1 text-center">
                  <div>
                    <button type="button" class="btn p-0 btn-link">
                      <app-icon icon="chevron-up" class="fs-xxl" [class.text-danger]="vote.userVote === 'up'"></app-icon>
                    </button>
                  </div>
                  <h5 class="fw-bold m-0 fs-lg">{{ vote.votes }}</h5>
                  <div>
                    <button type="button" class="btn p-0 btn-link">
                      <app-icon icon="chevron-down" class="fs-xxl" [class.text-danger]="vote.userVote === 'down'"></app-icon>
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex-grow-1">
                <h4 class="fs-md mb-1">
                  <a [routerLink]="[]" class="link-reset">{{ vote.title }}</a>
                </h4>

                <p class="text-muted mb-2">{{ vote.description }}</p>

                <p class="d-flex flex-wrap gap-3 text-muted mb-1 align-items-center fs-base">
                  <span class="d-flex align-items-center gap-1">
                    <img [src]="vote.user.image" alt="avatar-7" class="img-fluid avatar-xs rounded-circle" />
                    <a [routerLink]="[]" class="link-reset fw-semibold">{{ vote.user.name }}</a>
                  </span>
                  <span><app-icon icon="calendar"></app-icon> Posted on: {{ vote.postedOn }}</span>
                  <span class="d-flex align-items-center gap-1"> <app-icon icon="tag"></app-icon> <span class="badge bg-light text-primary">{{ vote.category }}</span></span>
                  <span><app-icon icon="messages" class="me-1"></app-icon> <a [routerLink]="[]" class="link-reset">Comments: {{ vote.comments }}</a></span>
                  <span><app-icon icon="clock"></app-icon> Ends in: {{ vote.endsIn }}</span>
                  <span><app-icon icon="users"></app-icon> Votes: {{ vote.votes }}</span>
                  <span class="d-flex align-items-center gap-1">
                    <app-icon icon="lock"></app-icon>
                    <span class="badge" [class]="vote.status === 'open' ? 'text-bg-success': vote.status === 'closed'  ? 'text-bg-warning': 'text-bg-success'"> {{ toTitleCase(vote.status) }} </span>
                  </span>
                </p>
              </div>
              @if (vote.userVote == 'down' || vote.userVote == 'up') {
              <span class="ms-auto fs-36 text-success text-opacity-25" data-bs-toggle="tooltip" placement="top" ngbTooltip="Thank you for voting">
                <app-icon icon="checks"></app-icon>
              </span>
              }
            </div>
          </div>
          }
        </div>
        <!-- end card-body-->
      </div>
      <!-- end card-->
    </div>
    <!-- end col-->
  </div>
</div>
