<ngx-simplebar class="card h-100 mb-0 rounded-end-0">
  <div class="card-body">
    <a routerLink="/apps/email/compose" class="btn btn-danger fw-medium w-100">Compose</a>

    <div class="list-group list-group-flush list-custom mt-3">
      @for (item of emailSidebarData; track $index; let first = $first) {
      <a [routerLink]="item.href || []" class="list-group-item list-group-item-action" [class.active]="first">
        <app-icon [icon]="item.icon" class="me-1 opacity-75 fs-lg align-middle"></app-icon>
        <span class="align-middle ms-1">{{ item.label }}</span>
        @if (item.badge) {
        <span class="badge align-middle {{item.badge.className}} fs-xxs float-end">{{ item.badge.text }}</span>
        }
      </a>
      }

      <div class="list-group-item mt-2">
        <span class="align-middle">Labels</span>
      </div>

      @for (item of labelData; track $index ) {
      <a [routerLink]="[]" class="list-group-item list-group-item-action d-flex align-items-center gap-1">
        <app-icon icon="chart-donut" class="me-1 align-middle fs-sm" [ngClass]="item.className"></app-icon>
        <span class="align-middle">{{ item.name }}</span>
      </a>
      }
    </div>
  </div>
</ngx-simplebar>
