<div class="card">
  <div class="card-header bg-light-subtle border-light p-3">
    <div class="avatar-xl me-3">
      <span class="avatar-title text-bg-light rounded-circle">
        <app-icon [icon]="project.icon" class="fs-24 text-muted"></app-icon>
      </span>
    </div>
    <div>
      <h5 class="mb-1 d-flex align-items-center">
        <a routerLink="/apps/projects/details" class="link-reset">{{project.title}}</a>
      </h5>
      <p class="text-muted mb-2 fs-xxs">Updated {{ project.updatedTime }}</p>
      <span
        class="badge fs-xxs badge-label"
        [class]="
                 project.status === 'in-progress' ? 'badge-soft-success':
                 project.status === 'pending-review' ? 'badge-soft-warning': project.status === 'delayed' ? 'badge-soft-danger':'badge-soft-secondary'
                 "
        >{{toPascalCase(project.status)}}</span
      >
    </div>
    <div class="ms-auto">
      <div ngbDropdown placement="bottom-end">
        <a [routerLink]="[]" class="btn btn-icon btn-ghost-light text-muted drop-arrow-none" ngbDropdownToggle>
          <app-icon icon="dots-vertical" class="fs-xl"></app-icon>
        </a>
        <ul ngbDropdownMenu class="dropdown-menu-end">
          <li>
            <a ngbDropdownItem [routerLink]="[]">
              <app-icon icon="share" class="me-2"></app-icon>
              Share
            </a>
          </li>
          <li>
            <a ngbDropdownItem [routerLink]="[]">
              <app-icon icon="edit" class="me-2"></app-icon>
              Edit
            </a>
          </li>
          <li>
            <a ngbDropdownItem [routerLink]="[]">
              <app-icon icon="ban" class="me-2"></app-icon>
              Block
            </a>
          </li>
          <li>
            <a ngbDropdownItem class="text-danger" [routerLink]="[]">
              <app-icon icon="trash" class="me-2"></app-icon>
              Delete
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex align-items-center gap-2 mb-3">
          <app-icon icon="list-check" class="text-muted fs-lg"></app-icon>
          <h5 class="fs-base mb-0 fw-medium">
            {{ project.task.completed }}/{{ project.task.total }} @if (project.task.new) {
            <span class="badge bg-secondary">+{{ project.task.new}} New</span>
            }
          </h5>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex align-items-center gap-2 mb-3">
          <app-icon icon="paperclip" class="text-muted fs-lg"></app-icon>
          <h5 class="fs-base mb-0 fw-medium">{{ project.files }} Files</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex align-items-center gap-2 mb-3">
          <app-icon icon="message" class="text-muted fs-lg"></app-icon>
          <h5 class="fs-base mb-0 fw-medium">{{project.comments}} Comments</h5>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex align-items-center gap-2 mb-3">
          <app-icon icon="calendar-clock" class="text-muted fs-lg"></app-icon>
          <h5 class="fs-base mb-0 fw-medium">{{ project.date }}</h5>
        </div>
      </div>
    </div>

    <p class="my-2 text-muted fw-semibold fs-xxs">Team Members:</p>
    <div class="avatar-group avatar-group-xs mb-3">
      @for ( member of project.members ; track $index) {
      <div class="avatar">
        <img [src]="member" alt="" class="rounded-circle avatar-xs" />
      </div>
      }
    </div>

    <div class="mt-3">
      <div class="d-flex align-items-center justify-content-between mb-2">
        <p class="mb-0 text-muted fw-semibold fs-xxs">Progress</p>
        <p class="fw-semibold mb-0">{{ project.progress }}%</p>
      </div>
      <ngb-progressbar [type]="project.variant" [value]="project.progress" style="height: 5px" />
    </div>
  </div>
</div>
