<div class="container-fluid">
  <app-page-breadcrumb title="Breadcrumb" subTitle="UI" />
</div>
<div class="container-xl">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Examples</h4>
        </div>
        <div class="card-body">
          <p class="text-muted mb-2">Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.</p>

          <a class="btn btn-link p-0 fw-semibold" href="https://getbootstrap.com/docs/5.3/components/breadcrumb/" target="_blank">
            Breadcrumb on Bootstrap
            <app-icon icon="chevron-right" class="ms-1"></app-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <div class="flex-grow-1">
            <h4 class="card-title">Basic</h4>
          </div>
        </div>
        <div class="card-body">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-2">
              <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
          </nav>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-2">
              <li class="breadcrumb-item"><a [routerLink]="[]">Home</a></li>
              <li class="d-flex align-items-center text-muted mx-1" aria-current="page">
                <app-icon icon="chevron-right"></app-icon>
              </li>

              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-2">
              <li class="breadcrumb-item"><a [routerLink]="[]">Home</a></li>
              <li class="d-flex align-items-center text-muted mx-1" aria-current="page">
                <app-icon icon="chevron-right"></app-icon>
              </li>

              <li class="breadcrumb-item"><a [routerLink]="[]">Library</a></li>
              <li class="d-flex align-items-center text-muted mx-1" aria-current="page">
                <app-icon icon="chevron-right"></app-icon>
              </li>

              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <div class="flex-grow-1">
            <h4 class="card-title">With Icons</h4>
          </div>
        </div>
        <div class="card-body">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light bg-opacity-50 p-2 mb-2">
              <li class="breadcrumb-item active" aria-current="page">
                <app-icon icon="smart-home" class="me-1"></app-icon>
                Home
              </li>
            </ol>
          </nav>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light bg-opacity-50 p-2 mb-2">
              <li class="breadcrumb-item">
                <a [routerLink]="[]"><app-icon icon="smart-home"></app-icon> Home</a>
              </li>
              <li class="d-flex align-items-center text-muted mx-1" aria-current="page">
                <app-icon icon="chevron-right"></app-icon>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light bg-opacity-50 p-2 mb-0">
              <li class="breadcrumb-item">
                <a [routerLink]="[]"><app-icon icon="smart-home"></app-icon> Home</a>
              </li>
              <li class="d-flex align-items-center text-muted mx-1" aria-current="page">
                <app-icon icon="chevron-right"></app-icon>
              </li>

              <li class="breadcrumb-item"><a [routerLink]="[]">Library</a></li>
              <li class="d-flex align-items-center text-muted mx-1" aria-current="page">
                <app-icon icon="chevron-right"></app-icon>
              </li>

              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
