<div class="row">
  <div class="col-xl-6">
    <div class="card text-bg-purple">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3 gap-2">
          <div class="avatar-md">
            <span class="avatar-title bg-light bg-opacity-20 text-white rounded-circle fs-xl">
              <iconify-icon icon="tabler:phone"></iconify-icon>
            </span>
          </div>
          <p class="mb-0 fw-semibold">PHONE</p>
        </div>
        <h5 class="mb-1 text-white text-opacity-75">+1 800 123 4567</h5>
        <h5 class="mb-0 text-white text-opacity-75">+1 800 765 4321</h5>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card text-bg-success">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3 gap-2">
          <div class="avatar-md">
            <span class="avatar-title bg-light bg-opacity-20 text-white rounded-circle fs-xl">
              <iconify-icon icon="tabler:mail"></iconify-icon>
            </span>
          </div>
          <p class="mb-0 fw-semibold">EMAIL</p>
        </div>
        <h5 class="mb-1 text-white text-opacity-75">support@example.com</h5>
        <h5 class="mb-0 text-white text-opacity-75">sales@example.com</h5>
      </div>
    </div>
  </div>
</div>
