<div class="card">
  <div class="card-header d-flex border-dashed justify-content-between align-items-center">
    <h5 class="card-title">{{item.title}}</h5>
    <span class="badge badge-soft-{{item.variant}}"> Monthly</span>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="avatar fs-60 avatar-img-size flex-shrink-0">
        <span class="avatar-title text-bg-dark rounded-circle fs-32">
          <iconify-icon [icon]="item.icon"></iconify-icon>
        </span>
      </div>
      <div class="text-end">
        <h3 class="mb-2 fw-normal">{{item.prefix}}<span [countUp]="item.value" [countUpOptions]="{decimalPlaces: Number.isInteger(item.value) ? 0 : 2}">{{item.value}}</span>{{item.suffix}}</h3>
        <p class="mb-0 text-muted">{{item.subtitle}}</p>
      </div>
    </div>
  </div>
</div>
