<div class="card">
  <div class="card-header justify-content-between align-items-center border-dashed">
    <h4 class="card-title mb-0">Featured Video For You</h4>
    <div ngbDropdown>
      <a ngbDropdownToggle [routerLink]="[]" class="text-muted drop-arrow-none card-drop p-0">
        <app-icon icon="dots-vertical" class="fs-lg"></app-icon>
      </a>
      <div ngbDropdownMenu class="dropdown-menu-end">
        <a ngbDropdownItem [routerLink]="[]">Watch Later</a>
        <a ngbDropdownItem [routerLink]="[]">Report Video</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="ratio ratio-16x9 rounded overflow-hidden">
      <iframe src="https://player.vimeo.com/video/357274789" allowfullscreen></iframe>
    </div>
  </div>
</div>
