<ng-template #defaultStar let-fill="fill">
  <ng-container>
    @switch (true) { @case (fill >= 100) {
    <app-icon icon="star-filled" class="text-warning"></app-icon>
    } @case (fill >= 45 && fill < 100) { <app-icon icon="star-filled" class="text-warning"></app-icon>
    } @default {
    <app-icon icon="star" class="text-warning"></app-icon>
    } }
  </ng-container>
</ng-template>

<ngb-rating [(rate)]="rate" [max]="max" class="d-flex align-items-center gap-1" [readonly]="readonly" [resettable]="resettable" [disabled]="disabled" [tabindex]="tabindex" [starTemplate]="starTemplate || defaultStar" />
