<div class="container-fluid">
  <app-page-breadcrumb title="Sitemap" subTitle="Pages" />
  <div class="row">
    @for (section of sitemapData; track $index) {
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="fw-bold text-uppercase">{{ section.title }}</h5>

          <ul class="list-unstyled sitemap-list mt-3">
            @for (item of section.items; track $index) {
            <li>
              <a [routerLink]="item.href || []" class="link-reset fw-semibold" [class]="item.itemClassName">
                @if(item.icon) {
                <app-icon [icon]="item.icon" class="me-1" [ngClass]="item.itemClassName ? item.itemClassName : 'text-muted'"></app-icon>
                } {{ item.title }}
              </a>
              @if (item.children) {
              <ul>
                @for (child of item.children; track $index) {
                <li>
                  <a [routerLink]="child.href || []" class="link-reset"> {{ child.title }} </a>
                </li>
                }
              </ul>
              }
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
    }
  </div>
</div>
