@for (activity of activityData; track $index) {
<div class="d-flex gap-1 border-bottom border-dashed py-3">
  <div class="me-2 flex-shrink-0">
    <img [src]="activity.user.image" class="avatar-md rounded-circle" alt="" />
  </div>
  <div class="flex-grow-1 text-muted">
    <span class="fw-medium text-body">{{ activity.user.name }}</span>
    {{ activity.action }}
    <p class="fs-xs mb-0 text-body-secondary">{{ activity.datetime }}</p>

    @if(activity.message) {
    <div class="py-2 px-3 bg-light bg-opacity-50 mt-2">{{ activity.message }}</div>
    }
  </div>
  <p class="fs-xs text-body-secondary">{{ activity.time }}</p>
</div>
}

<div class="d-flex align-items-center justify-content-center gap-2 p-3">
  <strong>Loading...</strong>
  <div class="spinner-border spinner-border-sm text-danger" role="status" aria-hidden="true"></div>
</div>
