<div class="card mb-1">
  <div class="card-body">
    <a [routerLink]="[]" class="text-muted float-end mt-n1 fs-xl">
      <app-icon icon="external-link"></app-icon>
    </a>
    <h5 title="Customer Orders">{{stats.title}}</h5>
    <div class="d-flex align-items-center gap-2 my-3">
      <div class="avatar-md flex-shrink-0">
        <span class="avatar-title text-bg-{{stats.variant}} rounded-circle fs-22">
          <app-icon [icon]="stats.icon"></app-icon>
        </span>
      </div>
      <h3 class="mb-0">
        <span
          [countUp]="stats.value"
          [countUpOptions]="{
                    prefix: stats.prefix ?? '',
                    suffix: stats.suffix ?? '',
                    decimalPlaces: Number.isInteger(stats.value) ? 0 : 1
                    }"
        ></span>
      </h3>
      <span class="badge badge-soft-{{stats.variant}} fw-medium fs-xs ms-auto"> {{ stats.badge }} </span>
    </div>
    <p class="mb-0">
      <span class="text-{{stats.variant}}">
        <app-icon icon="circle-filled" class="align-middle me-1"></app-icon>
      </span>
      <span class="text-nowrap text-muted">{{ stats.metric }}</span>
      <span class="float-end"><b>{{ stats.metricValue }}</b></span>
    </p>
  </div>
</div>
