<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span class="avatar-xl d-block mb-1">
        <span class="avatar-title bg-light bg-opacity-75 rounded">
          <img [src]="card.image" [alt]="card.name" height="30" />
        </span>
      </span>

      @if (card.isFree) {
      <span class="badge badge-label text-bg-light">Free</span>
      }@else {
      <span class="badge badge-label text-bg-warning">
        <app-icon icon="medal"></app-icon>
        Premium
      </span>
      }
    </div>

    <h5 class="card-title mb-1">{{ card.name }}</h5>
    <p class="card-text text-muted">{{ card.description }}</p>

    <div class="mb-3 d-flex align-items-center gap-1">
      <app-icon icon="world"></app-icon>
      <a [routerLink]="[]" class="link-reset" target="_blank">{{ card.website }}</a>
    </div>

    <div class="d-flex gap-2">
      <button class="btn btn-success w-50">Connect</button>

      <button class="btn btn-outline-secondary w-50" ngbTooltip="View more information">
        Learn More
        <app-icon icon="arrow-right" class="ms-1"></app-icon>
      </button>
    </div>
  </div>
</div>
