<div class="card">
  <div class="card-header border-light justify-content-between">
    <div class="d-flex gap-2">
      <div class="app-search">
        <input [(ngModel)]="tableService.searchTerm" type="search" class="form-control" placeholder="Search users..." />
        <app-icon icon="search" class="app-search-icon text-muted"></app-icon>
      </div>
      @if (hasSelection) {
      <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
      }
    </div>

    <div class="d-flex align-items-center gap-2">
      <span class="me-2 fw-semibold">Filter By:</span>

      <!-- Role Type Filter -->
      <div class="app-search">
        <select [(ngModel)]="filterroles" (ngModelChange)="tableService.setFilter('role', filterroles)" class="form-select form-control my-1 my-md-0">
          <option value="All">Role</option>
          <option value="Security Officer">Security Officer</option>
          <option value="Project Manager">Project Manager</option>
          <option value="Developer">Developer</option>
          <option value="Support Lead">Support Lead</option>
        </select>
        <app-icon icon="user-hexagon" class="app-search-icon text-muted"></app-icon>
      </div>

      <!-- Status Filter -->
      <div class="app-search">
        <select [(ngModel)]="filterStatus" (ngModelChange)="tableService.setFilter('status', filterStatus)" class="form-select form-control my-1 my-md-0">
          <option value="All">Status</option>
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
          <option value="Suspended">Suspended</option>
        </select>
        <app-icon icon="user-check" class="app-search-icon text-muted"></app-icon>
      </div>

      <!-- Records Per Page -->
      <div>
        <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
          <option [ngValue]="5">5</option>
          <option [ngValue]="8">8</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
        </select>
      </div>

      <button type="button" class="btn btn-secondary">Add User</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
      <thead class="bg-light align-middle bg-opacity-25 thead-sm">
        <tr class="text-uppercase fs-xxs">
          <th class="ps-3" style="width: 1%">
            <input [checked]="selectAll" (change)="toggleAllSelection($event.target.checked)" class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" id="select-all-files" value="option" />
          </th>
          <th sortable="id" (sort)="tableService.setSort($event.column, $event.direction)">ID</th>
          <th sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">User</th>
          <th sortable="role" (sort)="tableService.setSort($event.column, $event.direction)">Role</th>
          <th sortable="date" (sort)="tableService.setSort($event.column, $event.direction)">Last Updated</th>
          <th sortable="status" (sort)="tableService.setSort($event.column, $event.direction)">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if ((total$ | async)! > 0) { @for (user of (userData$ | async); track $index) {
        <tr>
          <td class="ps-3">
            <input [checked]="selectedIds.has(user.id)" (change)="toggleSingleSelection(user)" class="form-check-input form-check-input-light fs-14 file-item-check mt-0" type="checkbox" value="option" />
          </td>
          <td>
            <h5 class="m-0">
              <a [routerLink]="[]" class="link-reset">{{ user.id }}</a>
            </h5>
          </td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <div class="avatar avatar-sm">
                <img [src]="user.image" class="img-fluid rounded-circle" [alt]="user.name" />
              </div>
              <div>
                <h5 class="fs-base mb-0">
                  <a [routerLink]="[]" class="link-reset">{{ user.name }}</a>
                </h5>
                <p class="text-muted fs-xs mb-0">{{ user.email }}</p>
              </div>
            </div>
          </td>
          <td>{{ user.role }}</td>
          <td>{{ user.date }} <small class="text-muted">{{ user.time }}</small></td>
          <td>
            <span
              class="badge badge-label"
              [class]="
                                  user.status === 'inactive' ? 'bg-warning-subtle text-warning' :
                                  user.status === 'active' ? 'bg-success-subtle text-success' : 'bg-danger-subtle text-danger' 
                                "
            >
              {{ toPascalCase(user.status) }}</span
            >
          </td>
          <td>
            <div class="d-flex justify-content-center gap-1">
              <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle">
                <app-icon icon="eye" class="fs-lg"></app-icon>
              </a>
              <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle">
                <app-icon icon="edit" class="fs-lg"></app-icon>
              </a>
              <a [routerLink]="[]" (click)="tableService.deleteItem(user)" class="btn btn-light btn-icon btn-sm rounded-circle">
                <app-icon icon="trash" class="fs-lg"></app-icon>
              </a>
            </div>
          </td>
        </tr>
        } } @else {
        <tr class="no-results">
          <td colspan="7" class="text-center text-muted py-3">Nothing found.</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer border-0">
    @if ((total$ | async)! > 0) {
    <app-custom-pagination itemsName="roles" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>
    }
  </div>
</div>
