@for (blog of blogData; track $index) {
<article class="card flex-md-row mb-3">
  <div class="col-md-4">
    <div class="position-relative h-100 overflow-hidden rounded-start">
      <div class="badge badge-label position-absolute top-0 start-0 m-3" [class]="blog.category.className">{{ blog.category.label }}</div>

      <img [src]="blog.image" class="w-100 h-100 object-fit-cover" [alt]="blog.title" />
    </div>
  </div>

  <!-- Card Body (Right) -->
  <div class="col-md-8 d-flex flex-column">
    <div class="card-body">
      <!-- Title -->
      <h6 class="card-title fs-lg lh-base mb-2">
        <a [routerLink]="[]" class="link-reset">{{ blog.title }}</a>
      </h6>

      <p class="mb-3 text-muted">{{ blog.description }}</p>

      <!-- TAGS -->
      <div>
        @for (tag of blog.tags; track $index) {
        <a [routerLink]="[]" class="badge badge-label badge-default me-1">{{ tag }}</a>
        }
      </div>

      <!-- Meta Row -->
      <p class="d-flex flex-wrap gap-3 text-muted mb-0 mt-3 align-items-center fs-base">
        <span class="d-flex align-items-center gap-1">
          <app-icon icon="calendar" class="fs-md"></app-icon>
          {{ blog.date }}
        </span>

        <span class="d-flex align-items-center gap-1">
          <app-icon icon="message-circle" class="fs-md"></app-icon>
          <a [routerLink]="[]" class="link-reset">{{ blog.comments }}</a>
        </span>

        <span class="d-flex align-items-center gap-1">
          <app-icon icon="eye" class="fs-md"></app-icon>
          {{ blog.views }}
        </span>
      </p>
    </div>

    <!-- Card Footer -->
    <div class="card-footer bg-transparent border-top mt-auto d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-2">
        <div class="avatar avatar-xs">
          <img [src]="blog.author.image" [alt]="blog.author.name" class="img-fluid rounded-circle" />
        </div>
        <div>
          <h5 class="text-nowrap fs-base mb-0 lh-base">
            <a [routerLink]="[]" class="link-reset">{{ blog.author.name }}</a>
          </h5>
        </div>
      </div>

      <a class="link-primary fw-semibold d-flex align-items-center gap-1" [routerLink]="[]"> Read more <app-icon icon="arrow-right"></app-icon> </a>
    </div>
  </div>
</article>
}

<ul class="pagination pagination-rounded pagination-boxed justify-content-center mb-0 mt-4">
  <ngb-pagination [collectionSize]="60" [page]="page" [maxSize]="4" [ellipses]="true">
    <ng-template ngbPaginationPrevious>
      <app-icon icon="chevron-left" class="align-middle fs-lg"></app-icon>
    </ng-template>
    <ng-template ngbPaginationNext>
      <app-icon icon="chevron-right" class="align-middle fs-lg"></app-icon>
    </ng-template>
  </ngb-pagination>
</ul>
