<div class="container-fluid">
  <app-page-breadcrumb title="Basic" subTitle="Tables" />

  <div class="row justify-content-center">
    <div class="col-xxl-10">
      <div class="card">
        <div class="card-header justify-content-between">
          <h4 class="card-title">Basic DataTable</h4>
          <a href="https://datatables.net/examples/basic_init/zero_configuration.html" target="_blank" class="icon-link icon-link-hover link-primary fw-semibold">
            View Docs
            <app-icon icon="arrow-right" class="bi align-middle fs-lg"></app-icon>
          </a>
        </div>

        <div class="card-body">
          @if(showAlert){
          <ngb-alert type="warning" [dismissible]="true" (closed)="showAlert = false" class="mb-4">
            <strong>Note:</strong>
            This is a jQuery-based plugin, so you need to include jQuery for it to work.
          </ngb-alert>
          }

          <table datatable [dtOptions]="dtOptions" data-tables="basic" class="table table-striped dt-responsive align-middle mb-0">
            <thead class="thead-sm text-uppercase fs-xxs">
              <tr>
                <th>Company</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Change</th>
                <th>Volume</th>
                <th>Market Cap</th>
                <th>Rating</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              @for (item of basicData.body; track $index) {
              <tr>
                <td>{{ item.company }}</td>
                <td>{{ item.symbol }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.change }}%</td>
                <td>{{ item.volume }}</td>
                <td>{{ item.marketCap }}</td>
                <td>{{ item.rating }} ★</td>
                <td><span class="badge badge-label  {{item.status==='bullish' ? 'badge-soft-success' : 'badge-soft-danger'}} ">{{ toPascalCase(item.status) }}</span></td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <!-- end card-->

      <div class="card">
        <div class="card-header justify-content-between">
          <h4 class="card-title">Complex Header</h4>
          <a href="https://datatables.net/examples/advanced_init/complex_header.html" target="_blank" class="icon-link icon-link-hover link-primary fw-semibold">
            View Docs
            <app-icon icon="arrow-right" class="bi align-middle fs-lg"></app-icon>
          </a>
        </div>

        <div class="card-body">
          <table datatable [dtOptions]="dtOptions" data-tables="basic" class="table table-bordered dt-responsive align-middle mb-0 complex-table">
            <thead class="thead-sm text-uppercase fs-xxs">
              <tr>
                <th colspan="2">Company Info</th>
                <th colspan="2">Rate</th>
                <th colspan="2">More</th>
                <th colspan="2">Other</th>
              </tr>
              <tr>
                <th>Company</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Change</th>
                <th>Volume</th>
                <th>Market Cap</th>
                <th>Rating</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              @for (item of basicData.body; track $index) {
              <tr>
                <td>{{ item.company }}</td>
                <td>{{ item.symbol }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.change }}%</td>
                <td>{{ item.volume }}</td>
                <td>{{ item.marketCap }}</td>
                <td>{{ item.rating }} ★</td>
                <td><span class="badge badge-label  {{item.status==='bullish' ? 'badge-soft-success' : 'badge-soft-danger'}} ">{{ toPascalCase(item.status) }}</span></td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <!-- end card-body-->
      </div>
      <!-- end card-->
    </div>
  </div>
</div>
