<div class="card">
  <div class="card-body">
    <a [routerLink]="[]" class="text-muted float-end mt-n1 fs-xl">
      <app-icon icon="external-link"></app-icon>
    </a>
    <h5 [title]="item.title">{{ item.title }}</h5>
    <div class="d-flex align-items-center gap-2 my-3">
      <div class="avatar-md flex-shrink-0">
        <span class="avatar-title text-bg-{{item.variant}} rounded-circle fs-22">
          <app-icon [icon]="item.icon"></app-icon>
        </span>
      </div>
      <h3 class="mb-0">{{ item.count.prefix }}{{ item.count.value }}{{ item.count.suffix }}</h3>
      <span class="badge badge-soft-{{item.variant}} fw-medium ms-2 fs-xs ms-auto"> {{ item.badge }}</span>
    </div>
    <p class="mb-0">
      <span class="text-{{item.variant}}">
        <app-icon icon="circle" class="align-middle"></app-icon>
      </span>
      <span class="text-nowrap text-muted"> {{ item.description }}</span>
      <span class="float-end"><b>{{ item.totalCount.prefix }}{{ item.totalCount.value }}{{ item.totalCount.suffix }}</b></span>
    </p>
  </div>
</div>
