<div class="container-fluid">
  <app-page-breadcrumb title="Issue List" subTitle="Apps"></app-page-breadcrumb>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header border-light justify-content-between">
          <div class="app-search">
            <input [(ngModel)]="tableService.searchTerm" type="search" class="form-control" placeholder="Search issues..." />
            <app-icon icon="search" class="app-search-icon text-muted"></app-icon>
          </div>

          <button type="submit" class="btn btn-success">Add New Issues</button>
        </div>

        <div class="table-responsive">
          <div class="table-responsive">
            <table class="table table-custom table-centered table-hover w-100 mb-0">
              <tbody>
                @if ((total$ | async)! > 0) { @for (issue of (issueData$ | async); track $index) {
                <tr>
                  <td>
                    <span
                      class="badge fs-xxs badge-label"
                      [class]="
                          issue.status === 'in-progress'
                            ? 'text-bg-warning'
                            : issue.status === 'open'
                            ? 'text-bg-danger'
                            : issue.status === 'resolved'
                            ? 'text-bg-success'
                            : issue.status === 'review'
                            ? 'text-bg-info'
                            : 'text-bg-secondary'
                        "
                    >
                      {{ toTitleCase(issue.status) }}
                    </span>
                  </td>

                  <td>
                    <a [routerLink]="[]" class="link-reset text-uppercase fw-semibold"> {{ issue.id }} </a>
                    <p class="mb-0 text-muted">{{ issue.description }}</p>
                  </td>

                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <div class="avatar avatar-xs">
                        <img [src]="issue.user.image" [alt]="issue.user.name" class="img-fluid rounded-circle" />
                      </div>
                      <div>
                        <h5 class="mb-0 lh-base">{{ issue.user.name }}</h5>
                      </div>
                    </div>
                  </td>

                  <td>
                    <p class="mb-0 d-flex align-items-center gap-1">
                      <app-icon icon="calendar"></app-icon>
                      <span class="fw-semibold">Created:</span> {{ issue.createdAt }}
                    </p>
                    <p class="mb-0 d-flex align-items-center gap-1">
                      <app-icon icon="clock"></app-icon>
                      <span class="fw-semibold">{{ issue.status === 'resolved' ? 'Resolved:' : 'Due:' }}</span>
                      {{ issue.dueDate }}
                    </p>
                  </td>

                  <td>
                    @for (tags of issue.tags; track $index) {
                    <a [routerLink]="[]" class="badge badge-label badge-default me-1">{{ tags }}</a>
                    }
                  </td>

                  <td>
                    <ngb-progressbar [value]="issue.progress" [type]="issue.variant" [animated]="true" height="6px" class="w-100"> </ngb-progressbar>
                    <small class="text-muted">{{ issue.progress }}% Complete</small>
                  </td>

                  <td>
                    <div class="d-flex align-items-center gap-1">
                      <app-icon icon="message-circle" class="text-muted me-1"></app-icon>
                      {{ issue.comments }} comments
                    </div>
                  </td>

                  <td>
                    <div class="d-flex align-items-center gap-1">
                      <app-icon icon="paperclip" class="text-muted me-1"></app-icon>
                      {{ issue.files }} files
                    </div>
                  </td>

                  <td>
                    <div class="d-flex justify-content-center gap-1">
                      <button class="btn btn-light btn-icon btn-sm rounded-circle">
                        <app-icon icon="eye" class="fs-lg"></app-icon>
                      </button>
                      <button class="btn btn-light btn-icon btn-sm rounded-circle">
                        <app-icon icon="edit" class="fs-lg"></app-icon>
                      </button>
                      <button class="btn btn-light btn-icon btn-sm rounded-circle" (click)="tableService.deleteItem(issue)">
                        <app-icon icon="trash" class="fs-lg"></app-icon>
                      </button>
                    </div>
                  </td>
                </tr>
                } } @else {
                <tr class="no-results">
                  <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            @if ((total$ | async)! > 0) {
            <app-custom-pagination itemsName="issues" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>
            }
          </div>
        </div>

        <!-- end card-body-->
      </div>
      <!-- end card-->
    </div>
    <!-- end col-->
  </div>
</div>
