<div class="container-fluid">
  <app-page-breadcrumb title="Chat" subTitle="Apps"></app-page-breadcrumb>

  <div class="outlook-box">
    <ng-template #content let-offcanvas>
      <app-chat-sidebar (select)="selectChat($event)" [activeChatId]="activeChatId"></app-chat-sidebar>
    </ng-template>

    <app-chat-sidebar (select)="selectChat($event)" [activeChatId]="activeChatId" class="d-none d-lg-block outlook-left-menu outlook-left-menu-lg"></app-chat-sidebar>

    <div class="card h-100 mb-0 rounded-start-0 flex-grow-1 position-relative">
      <div class="card-header card-bg d-flex justify-content-between align-items-center">
        <div class="d-lg-none d-inline-flex gap-2">
          <button class="btn btn-default btn-icon" (click)="openSidebar(content)">
            <app-icon icon="menu" class="fs-lg"></app-icon>
          </button>
        </div>

        <div class="flex-grow-1 text-truncate">
          <h5 class="mb-1 lh-base fs-lg text-truncate">
            <a class="link-reset">{{ activeUser?.name }}</a>
          </h5>
          <p class="mb-0 lh-sm text-muted">
            <app-icon icon="circle-filled" [ngClass]="activeUser?.isOnline ? 'text-success' : 'text-danger'"></app-icon>

            {{ activeUser?.isOnline ? 'Active' : 'Offline' }}
          </p>
        </div>

        <div class="d-flex align-items-center gap-2">
          <button type="button" class="btn btn-default btn-icon" ngbTooltip="Video Call">
            <app-icon icon="video" class="fs-lg"></app-icon>
          </button>
          <button type="button" class="btn btn-default btn-icon" ngbTooltip="Audio Call">
            <app-icon icon="phone-call" class="fs-lg"></app-icon>
          </button>

          <div ngbDropdown>
            <button type="button" class="btn btn-default btn-icon drop-arrow-none" ngbDropdownToggle aria-expanded="false" title="More">
              <app-icon icon="dots-vertical" class="fs-lg"></app-icon>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              <li>
                <a ngbDropdownItem [routerLink]="[]"> <app-icon icon="user" class="me-2"></app-icon>View Profile </a>
              </li>
              <li>
                <a ngbDropdownItem [routerLink]="[]"> <app-icon icon="bell-off" class="me-2"></app-icon>Mute Notifications </a>
              </li>
              <li>
                <a ngbDropdownItem [routerLink]="[]"> <app-icon icon="trash" class="me-2"></app-icon>Delete Chat </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ngx-simplebar #simplebarRef style="max-height: calc(100vh - 317px)">
        <div class="card-body pt-0 pb-2 mb-3">
          @if (currentThread) { @for (message of currentThread.messages; track message.id) { @if (currentContact.id === message.senderId) {
          <div class="d-flex align-items-start gap-2 my-3 chat-item">
            @if (currentContact.image) {
            <img [src]="currentContact.image" width="36" height="36" class="avatar-md rounded-circle" alt="User" />
            } @else {
            <span class="avatar-sm flex-shrink-0">
              <span class="avatar-title text-bg-primary fw-bold rounded-circle"> {{ generateInitials(currentContact.name) }} </span>
            </span>
            }

            <div>
              <div class="chat-message py-2 px-3 bg-warning-subtle rounded">{{ message.text }}</div>
              <div class="text-muted d-inline-flex align-items-center gap-1 fs-xs mt-1"><app-icon icon="clock"></app-icon> {{ message.time }}</div>
            </div>
          </div>
          } @if (currentUser.id === message.senderId) {
          <div class="d-flex align-items-start gap-2 my-3 chat-item justify-content-end text-end">
            <div>
              <div class="chat-message py-2 px-3 bg-info-subtle rounded">{{ message.text }}</div>
              <div class="text-muted d-inline-flex align-items-center gap-1 fs-xs mt-1"><app-icon icon="clock"></app-icon> {{ message.time }}</div>
            </div>

            @if (currentUser.image) {
            <img [src]="currentUser.image" width="36" height="36" class="avatar-md rounded-circle" alt="User" />
            } @else {
            <span class="avatar-sm flex-shrink-0">
              <span class="avatar-title text-bg-primary fw-bold rounded-circle"> {{ generateInitials(currentUser.name) }} </span>
            </span>
            }
          </div>
          } } } @else {
          <div class="d-flex align-items-center justify-content-center my-5">
            <app-icon icon="message" class="text-muted me-1 fs-1"></app-icon>
            <span>No messages found.</span>
          </div>
          }
        </div>
      </ngx-simplebar>

      <div class="card-footer bg-body-secondary border-top border-dashed position-absolute bottom-0 w-100">
        <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="d-flex gap-2">
          <div class="app-search flex-grow-1 position-relative">
            <input formControlName="message" type="text" class="form-control py-2 bg-light-subtle border-light" placeholder="Enter message..." name="message" />
            <app-icon icon="message" class="app-search-icon text-muted"></app-icon>
          </div>
          <button type="submit" class="btn btn-primary">
            Send
            <app-icon icon="send-2" class="ms-1 fs-xl"></app-icon>
          </button>
        </form>
        @if (submitted && chatForm.invalid) {
        <div class="text-danger mt-2">Please enter a message!</div>
        }
      </div>
    </div>
  </div>
</div>
