<!-- Add New Article Button -->
<div class="d-grid mb-4">
  <a routerLink="/apps/blog/add" class="btn btn-primary btn-lg fs-base d-flex align-items-center justify-content-center gap-2"> <app-icon icon="circle-dashed-plus"></app-icon> Add New Article </a>
</div>

<!-- Search -->
<h5 class="mb-3 text-uppercase fw-bold">Search</h5>
<div class="app-search mb-5">
  <input type="text" class="form-control bg-light-subtle border-light" placeholder="Search post..." />
  <app-icon icon="search" class="app-search-icon text-muted"></app-icon>
</div>

<!-- Categories -->
<div class="mb-5">
  <h5 class="mb-3 text-uppercase fw-bold">Categories</h5>
  <ul class="list-group list-group-flush">
    @for (cat of categoryData; track $index) {
    <li class="list-group-item ps-0 d-flex justify-content-between align-items-center">
      <a [routerLink]="[]" class="link-reset fw-medium">
        <app-icon icon="folder" class="me-1"></app-icon>
        {{ cat.name }}
      </a>
      <span class="badge text-bg-light">{{ cat.count }}</span>
    </li>
    }
  </ul>
</div>

<!-- Popular Post -->
<div class="mb-5">
  <h5 class="mb-3 text-uppercase fw-bold">Popular Posts</h5>
  <ul class="list-group list-group-flush">
    @for (post of popularPostData; track $index) {
    <li class="list-group-item ps-0">
      <a [routerLink]="post.href" class="link-reset fw-medium">
        <app-icon icon="article" class="me-1"></app-icon>
        {{ post.title }}
      </a>
    </li>
    }
  </ul>
</div>

<!-- Popular Tags -->
<div class="mb-5">
  <h5 class="mb-3 text-uppercase fw-bold">Popular Tags</h5>
  <div class="d-flex flex-wrap gap-1">
    @for(tag of tagData; track $index) {
    <a class="btn btn-light btn-sm" [routerLink]="tag.href"> {{ tag.name }} </a>
    }
  </div>
</div>

<!-- Newsletter -->
<div class="p-4 bg-light-subtle rounded-3 border">
  <h5 class="text-uppercase fw-bold mb-3">Subscribe to Newsletter</h5>
  <p class="text-muted fs-sm mb-3">Get the latest articles and updates directly to your inbox.</p>
  <form action="#">
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Your email address" />
      <button class="btn btn-dark" type="submit"><app-icon icon="send-2"></app-icon></button>
    </div>
  </form>
</div>
