<app-card-with-action bodyClass="p-0" title="Top Campaign Performance" [isCloseable]="true" [isTogglable]="true" [isReloadable]="true">
  <div card-body>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-custom table-nowrap table-hover table-centered mb-0">
          <thead class="bg-light align-middle bg-opacity-25 thead-sm">
            <tr class="text-uppercase fs-xxs">
              <th class="text-muted">Campaign</th>
              <th sortable="visitors" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">Visitors</th>
              <th sortable="newUsers" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">New Users</th>
              <th sortable="sessions" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">Sessions</th>
              <th sortable="bounceRate" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">Bounce Rate</th>
              <th sortable="pageVisits" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">Pages/Visit</th>
              <th sortable="avgDuration" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">Avg. Duration</th>
              <th sortable="leads" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">Leads</th>
              <th sortable="revenue" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">Revenue</th>
              <th sortable="conversion" (sort)="tableService.setSort($event.column, $event.direction)" class="text-muted">Conversion</th>
            </tr>
          </thead>
          <tbody class="text-sm">
            @if ((total$ | async)! > 0) { @for (item of campaignData$ | async; track $index) {
            <tr>
              <td>
                <iconify-icon [icon]="item.icon" class="text-{{ item.variant }} me-1 fs-lg"></iconify-icon>
                {{ item.name }}
              </td>
              <td>{{ item.visitors }}</td>
              <td>{{ item.newUsers }}</td>
              <td>{{ item.sessions | number }}</td>
              <td>
                <span [class]="item.isPositive ? 'text-success': ''">{{ item.bounceRate }}%</span>
              </td>
              <td>{{ item.pageVisits }}</td>
              <td>{{ item.avgDuration }}</td>
              <td>{{ item.leads }}</td>
              <td>
                <span [class]="item.isPositive ? 'text-success' : ''">${{ item.revenue }}M</span>
              </td>
              <td>{{ item.conversion | number:'1.2-2' }}%</td>
            </tr>
            } } @else {
            <tr class="no-results">
              <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer border-0">
      @if ((total$ | async)! > 0) {
      <app-custom-pagination itemsName="entries" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>
      }
    </div>
  </div>
</app-card-with-action>
