<div class="card mt-5 border-dashed border-light">
  <div class="card-header border-light">
    <h4 class="card-title">Manage Reviews</h4>
  </div>

  <div class="card-header p-0 d-block">
    <div class="row align-items-center g-0">
      <div class="col-xl-7">
        <div class="d-flex align-items-center gap-4 p-4">
          <img src="assets/images/ratings.svg" alt="Product" height="80" />
          <div>
            <h3 class="text-primary d-flex align-items-center gap-2 mb-2 fw-bold">
              4.92
              <app-icon icon="star-filled"></app-icon>
            </h3>
            <p class="mb-2">Based on 245 verified reviews</p>
            <p class="pe-2 h6 text-muted mb-2 lh-base">Feedback collected from real customers who purchased our templates</p>
            <span class="badge badge-label text-bg-success">+12 new this week</span>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="p-3">
          @for (review of reviews; track $index; let index = $index; let last = $last) {
          <div class="d-flex align-items-center gap-2 {{ !last ? 'mb-2' : '' }}">
            <div class="flex-shrink-0" style="width: 50px">{{ reviews.length - index }} Star</div>
            <ngb-progressbar class="w-100" [value]="review.progress" type="primary" style="height: 8px" />
            <div class="flex-shrink-0 text-end" style="width: 30px">
              <span class="badge text-bg-light">{{ review.count }}</span>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
      <thead class="bg-light align-middle bg-opacity-25">
        <tr class="text-uppercase fs-xxs">
          <th>Reviewer</th>
          <th style="width: 18rem">Review</th>
          <th sortable="date" (sort)="tableService.setSort($event.column, $event.direction)">Date</th>
          <th sortable="status" (sort)="tableService.setSort($event.column, $event.direction)">Status</th>
          <th class="text-center" style="width: 1%">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if ((total$ | async)! > 0) { @for (user of userReviews$ | async; track $index) {
        <tr>
          <td>
            <div class="d-flex justify-content-start align-items-center gap-2">
              <div class="avatar avatar-sm">
                <img [src]="user.user.image" [alt]="user.user.name" class="img-fluid rounded-circle" />
              </div>
              <div>
                <h5 class="text-nowrap fs-sm mb-0 lh-base">{{ user.user.name }}</h5>
                <p class="text-muted fs-xs mb-0">{{ user.user.email }}</p>
              </div>
            </div>
          </td>
          <td>
            <span class="text-warning fs-lg">
              <app-rating [rate]="user.rating" size="16" />
            </span>
            <h5 class="mt-2">{{ user.title }}</h5>
            <p class="text-muted fst-italic mb-0">"{{ user.comment }}"</p>
          </td>
          <td>
            {{ user.date }}
            <small class="text-muted">{{ user.time }}</small>
          </td>
          <td>
            <span class="badge fs-xxs" [class]="user.status === 'pending' ? 'badge-soft-warning' : 'badge-soft-success'">{{toPascalCase (user.status) }} </span>
          </td>
          <td>
            <div class="d-flex justify-content-center gap-1">
              <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle">
                <app-icon icon="eye" class="fs-lg"></app-icon>
              </a>
              <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle">
                <app-icon icon="edit" class="fs-lg"></app-icon>
              </a>
              <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle">
                <app-icon icon="trash" class="fs-lg"></app-icon>
              </a>
            </div>
          </td>
        </tr>

        } } @else {
        <tr class="no-results">
          <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer border-0">
    @if ((total$ | async)! > 0) {
    <app-custom-pagination itemsName="reviews" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>
    }
  </div>
</div>
