<div class="container-fluid">
  <app-page-breadcrumb title="Stocks" subTitle="Ecommerce" />
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header border-light justify-content-between">
          <div class="d-flex gap-2">
            <div class="app-search">
              <input [(ngModel)]="tableService.searchTerm" type="search" class="form-control" placeholder="Search product name or SKU..." />
              <app-icon icon="search" class="app-search-icon text-muted"></app-icon>
            </div>
            @if (hasSelection) {
            <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
            }
          </div>

          <div class="d-flex align-items-center gap-2 flex-wrap">
            <span class="me-2 fw-semibold">Filter By:</span>

            <!-- Category Filter -->
            <div class="app-search">
              <select [(ngModel)]="filtercategory" (ngModelChange)="tableService.setFilter('category', filtercategory)" class="form-select form-control my-1 my-md-0">
                <option value="All">Category</option>
                <option value="Electronics">Electronics</option>
                <option value="Mobiles">Mobiles</option>
                <option value="Audio">Audio</option>
                <option value="Furniture">Furniture</option>
                <option value="Appliances">Appliances</option>
                <option value="Wearables">Wearables</option>
                <option value="Cameras">Cameras</option>
                <option value="Computers">Computers</option>
                <option value="Accessories">Accessories</option>
              </select>
              <app-icon icon="tag" class="app-search-icon text-muted"></app-icon>
            </div>

            <!-- Stock Status Filter -->
            <div class="app-search">
              <select [(ngModel)]="filterstatus" (ngModelChange)="tableService.setFilter('status', filterstatus)" class="form-select form-control my-1 my-md-0">
                <option value="All">Stock Status</option>
                <option value="in-stock">In Stock</option>
                <option value="low-stock">Low Stock</option>
                <option value="out-of-stock">Out of Stock</option>
              </select>
              <app-icon icon="activity" class="app-search-icon text-muted"></app-icon>
            </div>

            <!-- Price Range Filter -->
            <div class="app-search">
              <select [(ngModel)]="filterPrice" (ngModelChange)="tableService.setFilter('price', filterPrice)" class="form-select form-control my-1 my-md-0">
                <option value="All">Price Range</option>
                <option value="0-50">$0 - $50</option>
                <option value="51-150">$51 - $150</option>
                <option value="151-500">$151 - $500</option>
                <option value="501-1000">$501 - $1,000</option>
                <option value="1000+">$1,000+</option>
              </select>

              <app-icon icon="currency-dollar" class="app-search-icon text-muted"></app-icon>
            </div>

            <!-- Records Per Page -->
            <div>
              <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
                <option [ngValue]="20">20</option>
              </select>
            </div>
          </div>

          <div class="d-flex gap-1">
            <a routerLink="/apps/ecommerce/product-add" class="btn btn-danger ms-1">
              <app-icon icon="plus" class="fs-sm me-2"></app-icon>
              Add Product
            </a>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
              <tr class="text-uppercase fs-xxs">
                <th class="ps-3" style="width: 1%">
                  <input [checked]="selectAll" (change)="toggleAllSelection($event.target.checked)" class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" id="select-all-products" value="option" />
                </th>
                <th sortable="product.name" (sort)="tableService.setSort($event.column, $event.direction)">Product</th>
                <th>SKU</th>
                <th sortable="category" (sort)="tableService.setSort($event.column, $event.direction)">Category</th>
                <th sortable="availableStock" (sort)="tableService.setSort($event.column, $event.direction)">Available Stock</th>
                <th sortable="lowStock" (sort)="tableService.setSort($event.column, $event.direction)">Low Stock</th>
                <th sortable="price" (sort)="tableService.setSort($event.column, $event.direction)">Unit Price</th>
                <th sortable="status" (sort)="tableService.setSort($event.column, $event.direction)">Stock Status</th>
                <th sortable="date" (sort)="tableService.setSort($event.column, $event.direction)">Last Updated</th>
                <th class="text-center" style="width: 1%">Actions</th>
              </tr>
            </thead>
            <tbody>
              @if ((total$ | async)! > 0) { @for (item of (productStockData$ | async); track $index) {
              <tr>
                <td class="ps-3">
                  <input [checked]="selectedIds.has(item.sku)" (change)="toggleSingleSelection(item)" class="form-check-input form-check-input-light fs-14 product-item-check mt-0" type="checkbox" value="option" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar-md me-3">
                      <img [src]="item.product.image" alt="Product" class="img-fluid rounded" />
                    </div>
                    <div>
                      <h5 class="mb-1">
                        <a routerLink="apps/ecommerce/product-details" class="link-reset">{{ item.product.name }}</a>
                      </h5>
                      <p class="text-muted mb-0 fs-xs">Supplier: {{ item.product.supplier }}</p>
                    </div>
                  </div>
                </td>
                <td>{{ item.sku }}</td>
                <td>{{ item.category }}</td>
                <td>
                  <h5 class="fs-base mb-0 fw-medium" [class]="item.availableStock === 0 ? 'text-danger' : 'text-success'  ">{{item.availableStock}}</h5>
                </td>
                <td>
                  <h5
                    class="fs-base mb-0 fw-medium"
                    [class]="item.lowStock < 20 ? 'text-danger' : 'text-warning'
                                    "
                  >
                    {{item.lowStock}}
                  </h5>
                </td>
                <td>{{item.price}}</td>
                <td>
                  <span class="badge badge-label fs-xxs" [class]="item.status === 'in-stock' ? 'badge-soft-success': item.status === 'low-stock'  ? 'badge-soft-warning' : 'badge-soft-danger' ">{{toPascalCase(item.status)}}</span>
                </td>
                <td>{{ item.date }} <small class="text-muted">{{ item.time }}</small></td>
                <td>
                  <div class="d-flex justify-content-center gap-1">
                    <a routerLink="/apps/ecommerce/product-details" class="btn btn-light btn-icon btn-sm rounded-circle">
                      <app-icon icon="eye" class="fs-lg"></app-icon>
                    </a>
                    <a [routerLink]="[]" class="btn btn-light btn-icon btn-sm rounded-circle">
                      <app-icon icon="edit" class="fs-lg"></app-icon>
                    </a>
                    <a [routerLink]="[]" (click)="tableService.deleteItem(item)" class="btn btn-light btn-icon btn-sm rounded-circle">
                      <app-icon icon="trash" class="fs-lg"></app-icon>
                    </a>
                  </div>
                </td>
              </tr>
              } } @else {
              <tr class="no-results">
                <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="card-footer border-0">
          @if ((total$ | async)! > 0) {
          <app-custom-pagination itemsName="products" [showingRange]="tableService.showingRange" [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize"> </app-custom-pagination>
          }
        </div>
      </div>
    </div>
  </div>
</div>
