<div class="dropzone dropzone-container" [dropzone]="config" (addedFile)="onFileAdded($event)">
  <div class="dz-message needsclick">
    <div class="avatar-lg mx-auto my-3">
      <span class="avatar-title bg-info-subtle text-info rounded-circle">
        <app-icon icon="cloud-upload" class="fs-24"></app-icon>
      </span>
    </div>
    <h4 class="mb-2">Drop files here or click to upload.</h4>
    <p class="text-muted fst-italic mb-3">You can drag images here, or browse files via the button below.</p>
    <button type="button" class="btn btn-sm shadow btn-default">Browse Images</button>
  </div>
</div>

@if (uploadedFiles) {
<div class="dropzone-previews mt-3" id="file-previews">
  @for (file of uploadedFiles; track file.name; let index = $index) {
  <div class="card mt-1 mb-0 border-dashed border">
    <div class="p-2">
      <div class="row align-items-center">
        <div class="col-auto">
          <img data-dz-thumbnail="" [src]="file.dataURL" class="avatar-sm rounded bg-light" />
        </div>
        <div class="col ps-0">
          <a [routerLink]="[]" class="fw-semibold">{{ file.name }}</a>
          <p class="mb-0 text-muted" data-dz-size="">
            <strong>{{ formatFileSize(file.size) }}</strong>
          </p>
        </div>
        <div class="col-auto">
          <a (click)="removeFile(index)" class="btn btn-link btn-lg text-danger">
            <span class="dropzone-close"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  }
</div>
}
