<div class="container-fluid">
  <app-page-breadcrumb title="Pin Board" subTitle="Apps"></app-page-breadcrumb>

  <div class="row">
    <div class="col-12">
      <div class="card bg-transparent">
        <div class="card-body">
          <div class="pin-board d-flex flex-wrap">
            @for (pin of pinNoteData; track $index) {
            <div class="pin-board-item {{pin.className}}" [id]="pin.id">
              <p class="text-end fs-10">{{ pin.timestamp }}</p>
              <h4 class="fs-md">{{ pin.title }}</h4>
              <p>{{ pin.description }}</p>
              <a [routerLink]="[]" class="pin-board-delete fs-lg" (click)="deletePin(pin.id)">
                <app-icon icon="trash"></app-icon>
              </a>
            </div>
            }

            <div class="pin-board-item pin-board-add d-flex align-items-center justify-content-center">
              <a [routerLink]="[]" class="btn btn-icon btn-primary" (click)="openModal(addNoteModal)">
                <app-icon icon="plus"></app-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addNoteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addNoteModalLabel">Add New Note</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
  </div>

  <form id="addNoteForm">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label fw-semibold">Title</label>
        <input type="text" class="form-control" name="noteTitle" placeholder="Enter note title" required />
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Note Content</label>
        <textarea class="form-control" name="noteContent" rows="3" placeholder="Write your note..." required></textarea>
      </div>

      <div>
        <label class="form-label fw-semibold">Color Theme</label>
        <select class="form-select" name="noteColor">
          <option value="bg-success-subtle" selected>Green (Success)</option>
          <option value="bg-primary-subtle">Blue (Primary)</option>
          <option value="bg-warning-subtle">Yellow (Warning)</option>
          <option value="bg-danger-subtle">Red (Danger)</option>
          <option value="bg-light">Light</option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
</ng-template>
