<div class="card">
  <div class="card-header justify-content-between">
    <h4 class="card-title">Basic Wizard</h4>
    <span class="badge badge-soft-success badge-label fs-xxs py-1">Exclusive</span>
  </div>

  <div class="card-body">
    <div class="ins-wizard" data-wizard>
      <ul class="nav nav-tabs wizard-tabs" data-wizard-nav role="tablist">
        @for (step of formStepData; track $index; let i = $index) {
        <li class="nav-item">
          <a
            [routerLink]="[]"
            class="nav-link"
            [class]="
                              i < currentStep ? 'wizard-item-done' :
                              i === currentStep ? 'active' :
                              ''
                            "
            (click)="goToStep(i)"
          >
            <span class="d-flex align-items-center">
              <app-icon [icon]="step.icon" class="fs-32"></app-icon>
              <span class="flex-grow-1 ms-2 text-truncate">
                <span class="mb-0 lh-base d-block fw-semibold text-body fs-base">{{ step.title }}</span>
                <span class="fs-xxs mb-0">{{ step.subtitle }}</span>
              </span>
            </span>
          </a>
        </li>
        }
      </ul>
      <div class="tab-content pt-3">
        <ng-container *ngComponentOutlet="formStepData[currentStep].content"></ng-container>
        <div class="d-flex justify-content-between mt-3">
          @if(currentStep > 0){
          <button type="button" class="btn btn-secondary" (click)="previousStep()">← Back: {{ formStepData[currentStep - 1].title }}</button>
          }
          <button class="btn ms-auto" [class]="currentStep === formStepData.length - 1 ? 'btn-success' : 'btn-primary'" (click)="nextStep()">{{ currentStep === formStepData.length - 1 ? 'Submit Application' : 'Next: ' + formStepData[currentStep + 1].title + ' →' }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
