<div class="card">
  <div class="card-header d-block">
    <h4 class="card-title mb-1">Customization</h4>
    <p class="text-muted mb-0">Questions about custom development and template modifications.</p>
  </div>
  <div class="card-body">
    <div ngbAccordion [closeOthers]="true" class="accordion-bordered">
      @for (faq of customizationFaqData; track $index) {
      <div ngbAccordionItem class="border-0">
        <h2 ngbAccordionHeader id="BorderedheadingOne">
          <button ngbAccordionButton class="shadow-none bg-light bg-opacity-50" type="button">{{ faq.question }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>{{ faq.answer }}</div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
